<table class="table table-bordered table-striped table-hover" >
    <tbody>
        <tr>
            <td width="25%" >Codigo</td>
            <td>{$ infoData.establecimiento.codigo_establecimiento $}</td>
        </tr>
        <tr>
            <td width="25%" >Departamento</td>
            <td>{$ infoData.establecimiento.nombre_departamento $}</td>
        </tr>
        <tr>
            <td width="25%" >Distrito</td>
            <td>{$ infoData.establecimiento.nombre_distrito $}</td>
        </tr>
        <tr>
            <td width="25%" >Zona</td>
            <td>{$ infoData.establecimiento.nombre_zona $}</td>
        </tr>
        <tr>
            <td width="25%" >Barrio/Localidad</td>
            <td>{$ infoData.establecimiento.nombre_barrio_localidad $}</td>
        </tr>
        <tr>
            <td width="25%" >Direccion</td>
            <td>{$ infoData.establecimiento.direccion $}</td>
        </tr>
        <tr>
            <td width="25%" >URI</td>
            <td><a href="{$ infoData.establecimiento.uri $}">{$ infoData.establecimiento.uri $}</a></td>
        </tr>

    </tbody>
</table>