<div id="instituciones-tabs">
        <!-- popup -->
{#    <div class="ui popup" id="modalidades-help-popup">#}
{#        Valores en el rango:#}
{#        EEB -Educación Escolar Básica#}
{#        EI - Educación Media#}
{#        FED - Formación Docente#}
{#        ETS - Educación Superior#}
{#        EJA - Educación de Jovenes y Adultos#}
{#        ET - Educación Técnica#}
{#        EE - Educación Especial#}
{#        EMDJA - Educación Media a Distancia de Jovenes y Adultos#}
{#        EMAPJA - Educación Media Alternativa para Jovenes y Adultos#}
{#        EMA - Educación Media Abierta#}
{#    </div>#}
    <div class="ui pointing secondary menu modal-instituciones-menu">
          <a class="item" ng-class="{active:$first}" ng-repeat="institucion in infoData.instituciones" data-tab="inst-{$ institucion.codigo_institucion $}">
            {$ institucion.nombre_institucion $}
          </a>
    </div>
    <div class="ui tab segment" ng-class="{active:$first}" ng-repeat="institucion in infoData.instituciones" data-tab="inst-{$ institucion.codigo_institucion $}">
        <table class="table definition ui">
            <tbody>
                <tr>
                    <td width="25%">Nombre</td>
                    <td>{$ institucion.nombre_institucion $}</td>
                </tr>
                <tr>
                    <td width="25%">Region Administrativa</td>
                    <td>{$ institucion.nombre_region_administrativa $}</td>
                </tr>
                <tr>
                    <td width="25%">Supervisor</td>
                    <td>{$ institucion.nombre_supervisor $}</td>
                </tr>
                <tr>
                    <td width="25%">Niveles/Modalidades
{#                        <i class="circular help small inline circle icon link modalidades-help"></i>#}

                       </td>
                    <td>{$ institucion.niveles_modalidades $}</td>
                </tr>
                <tr>
                    <td width="25%">Tipo de organizacion</td>
                    <td>{$ institucion.nombre_tipo_organizacion $}</td>
                </tr>
                <tr>
                    <td width="25%">Participacion comunitaria</td>
                    <td>{$ institucion.participacion_comunitaria $}</td>
                </tr>
                <tr>
                    <td width="25%">Numero de telefono</td>
                    <td>{$ institucion.nro_telefono $}</td>
                </tr>
                <tr>
                    <td width="25%">Pagina web</td>
                    <td>{$ institucion.paginaweb $}</td>
                </tr>
                <tr>
                    <td width="25%">Correo electronico</td>
                    <td>{$ institucion.correo_electronico $}</td>
                </tr>
                <tr>
                    <td width="25%">Tiene internet</td>
                    <td>{$ institucion.tiene_internet $}</td>
                </tr>

            </tbody>

        </table>
{#        <script>#}
{#            $('.modalidades-help')#}
{#                    .popup({#}
{#                        popup: '#modalidades-help-popup',#}
{#                        on: 'click'#}
{#                    })#}
{#            ;#}
{##}
{#        </script>#}
    </div>



</div>
<script>
    $('.modal-instituciones-menu .item').tab({
        context: '#instituciones-tabs'
    });

</script>