<style>
    .icon-custom {
        display: block;
        font-size: 1.5em!important;
        margin: 0 auto .5em!important;
    }
</style>
<div id="instituciones-tabs">
        <!-- popup -->
{#    <div class="ui popup" id="modalidades-help-popup">#}
{#        Valores en el rango:#}
{#        EEB -Educación Escolar Básica#}
{#        EI - Educación Media#}
{#        FED - Formación Docente#}
{#        ETS - Educación Superior#}
{#        EJA - Educación de Jovenes y Adultos#}
{#        ET - Educación Técnica#}
{#        EE - Educación Especial#}
{#        EMDJA - Educación Media a Distancia de Jovenes y Adultos#}
{#        EMAPJA - Educación Media Alternativa para Jovenes y Adultos#}
{#        EMA - Educación Media Abierta#}
{#    </div>#}
    <div class="ui pointing secondary menu modal-instituciones-menu">
          <a class="item" ng-class="{active:$first}" ng-repeat="institucion in infoData.instituciones" data-tab="inst-{$ institucion.codigo_institucion $}">
            {$ institucion.nombre_institucion $}
          </a>
    </div>
    <div class="ui tab segment" ng-class="{active:$first}" ng-repeat="institucion in infoData.instituciones" data-tab="inst-{$ institucion.codigo_institucion $}">

        <div class="ui labeled icon menu">
            <a class="blue item" ng-click="setSubTab('info')" ng-class="{active: isSubTab('info')}" >
                <i style="font-size: 1.3em"  class="info circle icon"></i>
                Información
            </a>
            <a class="blue item"  ng-click="setSubTab('aulas')" ng-class="{active: isSubTab('aulas')}">
                <i style="font-size: 1.3em" class="icon-icon-school icon-custom"></i>
                Aulas
            </a>
            <a class="blue item" ng-click="setSubTab('sanitarios')" ng-class="{active: isSubTab('sanitarios')}">
                <i style="font-size: 1.3em"   class="icon-icon-toilet icon-custom" ></i>
                Sanitarios
            </a>
            <a class="blue item" ng-click="setSubTab('mobiliarios')" ng-class="{active: isSubTab('mobiliarios')}" >
                <i style="font-size: 1.3em"  class="icon-icon-desk icon-custom"></i>
                Mobiliarios
            </a>
            <a class="red item" ng-click="setSubTab('denuncias')" ng-class="{active: isSubTab('denuncias')}">
                <i class="warning sign icon"   style="font-size: 1.6em!important"></i>
                Denuncias
            </a>
        </div>

        <informacion ng-show="isSubTab('info')"></informacion>
        <aulas  ng-show="isSubTab('aulas')"></aulas>
        <sanitarios  ng-show="isSubTab('sanitarios')"></sanitarios>
        <mobiliarios  ng-show="isSubTab('mobiliarios')"></mobiliarios>
        <denuncias  ng-show="isSubTab('denuncias')"></denuncias>
{#        <script>#}
{#            $('.modalidades-help')#}
{#                    .popup({#}
{#                        popup: '#modalidades-help-popup',#}
{#                        on: 'click'#}
{#                    })#}
{#            ;#}
{##}
{#        </script>#}
    </div>



</div>
<script>
{#    $('.modal-instituciones-menu .item').tab({#}
{#        context: '#instituciones-tabs'#}
{#    });#}

</script>