

.content,#map,#loading_map{
    height: 96%;
}

.container{
    /*width: 100%;*/
    background-color: white;
    border: 1px solid #3b83c0;
    padding: 0;
}

.mycluster{
    	width: 40px;
        height: 40px;
        background-color: #3b83c0;
        text-align: center;
        font-size: 20px;
        border-radius: 30px;
        color: white;
        padding-top: 5px;
}

.link{
    font-size: 1.3em;
}

.titulo .logo {

    width: 300px;
}