

<div class="ui styled fluid accordion" >
    <div class="title">
        <i class="dropdown icon"></i>
        Laboratorio
        <div class="ui label blue">129
        </div>
    </div>
    <div class="content " style="height: 200px">
        <div class="ui grid" style="opacity: 1;">

            <div class="ten wide column">
               <div class="ui segment">
                    <div class="ui grid">
                        <div class="two wide column">
                            <div class="statistics">
                                <div class="statistic">
                                    <div class=" value" style="font-size:2.5em">
                                        <i class="icon-icon-school" style=""></i>1
                                    </div>
                                    <div class="label">
                                        Cantidad
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="label blue ui">REPARACION</div>
                        </div>
                        <div class="ten wide column">
                            <h4 style="margin-top: 5px">Justificacion</h4>

                            <p>Goteras en el laboratorio</p>

                        </div>
                    </div>


                </div>
            </div>
            <div class="four wide column">

                <div class="ui segment">
                    <h4 style="
    margin-top: 5px;
">Documentos</h4>

                    <p>
                        <a href="#">Adjudicaciones 2012 </a><b><i class="file word outline icon blue"></i></b>
                    </p>

                    <p>
                        <a href="#">Adjudicaciones 2012 </a><b><i class="file pdf outline icon blue"></i></b>
                    </p>
                    <button class="ui button blue">Subir &nbsp;<i class="upload icon"></i></button>
                </div>
            </div>
            <div class="two wide column">
                <div class="ui circular red segment">
                    <h2 class="ui header">
                        129
                        <div class="sub header">Prioridad</div>
                    </h2>
                </div>

                <div class="button ui red" style="width: 100%; margin-top: 15px">Denunciar</div>
            </div>
        </div>


    </div><div class="title ">
        <i class="dropdown icon"></i>
        Biblioteca
        <div class="ui label blue">321
        </div>
    </div>
    <div class="content " style="height: 200px">
        <div class="ui grid" style="opacity: 1;">

            <div class="ten wide column">
               <div class="ui segment">
                    <div class="ui grid">
                        <div class="two wide column">
                            <div class="statistics">
                                <div class="statistic">
                                    <div class=" value" style="font-size:2.5em">
                                        <i class="icon-icon-school" style=""></i>1
                                    </div>
                                    <div class="label">
                                        Cantidad
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="label green ui">NUEVO</div>
                        </div>
                        <div class="ten wide column">
                            <h4 style="margin-top: 5px">Justificacion</h4>

                            <p>No se cuenta con una Biblioteca</p>

                        </div>
                    </div>


                </div>
            </div>
            <div class="four wide column">

                <div class="ui segment">
                    <h4 style="
    margin-top: 5px;
">Documentos</h4>

                    <p>
                        <a href="#">Adjudicaciones 2014 </a><b><i class="file word outline icon blue"></i></b>
                    </p>

                    <p>
                        <a href="#">Adjudicaciones 2014 </a><b><i class="file pdf outline icon blue"></i></b>
                    </p>
                    <button class="ui button blue">Subir &nbsp;<i class="upload icon"></i></button>
                </div>
            </div>
            <div class="two wide column">
                <div class="ui circular red segment">
                    <h2 class="ui header">
                        321
                        <div class="sub header">Prioridad</div>
                    </h2>
                </div>

                <div class="button ui red" style="width: 100%; margin-top: 15px">Denunciar</div>
            </div>
        </div>


    </div>
</div>

<script>
    $('.ui.accordion')
            .accordion()
    ;
</script>