{% load staticfiles %}
<div class="ui page grid">
    <div class="sixteen wide column">
        <div class="ui one cards" style="margin-top: 100px; margin-bottom: 100px">
            <div class="ui card" style="padding: 30px">
            <img class="ui image centered" style="background: white" src="{% static 'img/logo-404.svg' %}" />
            <div class="content">
                <h1 class="header">Error 404</h1>
                <h2 class="description">Esta página no existe.</h2>
            </div>
        </div>
        </div>
    </div>
</div>