<div class="ui stackable  page" style="margin-bottom: 150px; margin-top: 30px">
    
<div class="ui centered grid">

        <div class="twelve wide computer fourteen wide mobile tablet column centered ">
            <div class="sixteen wide column">
                 <div class="ui huge header">Acerca de</div>
            </div>
        </div>

        <div class="twelve wide computer fourteen wide mobile tablet column centered ">
            <div class="sixteen wide column">

                <p>  Contralor de Fonacide es una Plataforma de visualización de datos abiertos e información sobre la situación de los establecimientos educativos priorizados por FONACIDE, para mejorar los servicios del MEC relacionados y dirigido especialmente a las municipalidades y gobernaciones, escuelas y comunidades beneficiadas por el fondo.</p>

                <p>
Surge como respuesta a la necesidad de mejorar los servicios del Ministerio de Educación y Cultura (MEC) relacionados al Fondo Nacional de Inversión Pública y Desarrollo (FONACIDE) con énfasis en infraestructura educativa.</p>
<p>Este desafío fue propuesto en <a href="http://www.innovando.gov.py/">InnovandoPy</a> , el primer hackaton organizado por el Gobierno. Participaron del mismo varias ideas que luego presentaron sus propuestas técnicas para ser evaluadas por un jurado.</p>

<p>
Esta herramienta se elaboró en conjunto entre consultores del <a href="http://ceamso.org.py/es/proyectos/20-programa-de-democracia-y-gobernabilidad">Programa de Democracia y Gobernabilidad USAID-CEAMSO</a>  y la Dirección de Planificación del Ministerio de Educación y Cultura.</p>



<p>Las personas que trabajaron en la elaboración de Contralor Fonacide son: Dalila Zarza (MEC), Celeste Mancuello (MEC), Marcos Rotela (MEC), Laura Ramirez (MEC), Lourdes Ramirez (MEC), Juan Pane (<a href="http://www.ceamso.org.py/es/pdg/">PDG</a> ), Julio Reyes (<a href="http://www.ceamso.org.py/es/pdg/">PDG</a>), Diego Ramirez (<a href="http://www.ceamso.org.py/es/pdg/">PDG</a>), Rodrigo Valdez (<a href="http://www.ceamso.org.py/es/pdg/">PDG</a>) y Gissela Peralta (<a href="http://www.ceamso.org.py/es/pdg/">PDG</a>).</p>
            
 
<p>El código fuente de esta plataforma se encuentra disponible en <a href="https://github.com/ceamso/openfonacide">Github</a> </p>


            </div>
        </div>

     

    </div>
</div>

