<div class="ui stackable  page" style="margin-bottom: 150px; margin-top: 30px">
    
<div class="ui centered grid">

        <div class="twelve wide computer fourteen wide mobile tablet column centered ">
            <div class="sixteen wide column">
                 <div class="ui huge header">Acerca de</div>
            </div>
        </div>

        <div class="twelve wide computer fourteen wide mobile tablet column centered ">
            <div class="sixteen wide column">
               <p>Con esta herramienta podrás encontrar toda la información referente a los requerimientos de infraestructura de las instituciones priorizadas por FONACIDE.</p>
            </div>
        </div>

     

    </div>
</div>

