<!-- INICIO UBICACION -->

<div class="ui segment">
<p> <b>1.</b> Seleccioná la ubicación, tipo de prioridad u otros filtros. <br>
<b>2.</b> Hacé click en activado/desactivado <br>
<b>3.</b> Hacé click en el botón actualizar


 </p>
<p></p>
<p></p>
  

</div>
<div id="ubicacion" class="ui segment labels teal top attached">
  <div class="ui teal label">Ubicación <i class="circular info icon link" data-content="Seleccioná el Departamento / Distrito / Barrio y activá la opción." data-variation="small"></i>
  </div>
  <div class="ui toggle checkbox" style="float: right;  opacity: 0.99">
    <input id="ubicacion-check" ng-model="ctrl.selected.check" ng-change="ctrl.callback()" type="checkbox" name="public">
    <label for="ubicacion-check"></label>
  </div>
  <b ng-if="ctrl.selected.check" style="float: right">Activado&nbsp;&nbsp;</b>
  <b ng-if="!ctrl.selected.check" style="float: right; opacity: 0.5">Desactivado&nbsp;&nbsp;</b>
  <div id="ubicacion-departamento" class="item filtros dropdown" style="margin-top: 5px; margin-bottom: 5px">
      <select ng-model="ctrl.selected.departamento" ng-change="ctrl.cambioDepartamento();ctrl.callback()" class="ui fluid search dropdown">
          <option value="">Departamento</option>
          <option value="{$ ubicacion.id $}" ng-repeat="ubicacion in ctrl.ubicaciones">{$ ubicacion.nombre $}</option>
      </select>
  </div>
  <div id="ubicacion-distrito" class="item filtros dropdown" style="margin-top: 5px; margin-bottom: 5px">
      <select ng-model="ctrl.selected.distrito" ng-change="ctrl.cambioDistrito();ctrl.callback()" class="ui fluid search dropdown">
          <option value="">Distrito</option>
          <option value="{$ distrito.id $}" ng-repeat="distrito in ctrl.distritos">{$ distrito.nombre $}</option>
      </select>
  </div>
  <div id="ubicacion-barrio" class="item filtros dropdown" style="margin-top: 5px; margin-bottom: 5px">
      <select ng-model="ctrl.selected.barrio" ng-change="ctrl.callback()" class="ui fluid search dropdown">
          <option value="">Barrio/Localidad</option>
          <option  value="{$ barrio.id $}" ng-repeat="barrio in ctrl.barrios">{$ barrio.nombre $}</option>
      </select>
  </div>
  <button class="ui basic button" ng-click="ctrl.agregarUbicacion()" ng-if="ctrl.multiple"><i class="plus circle icon"></i>Agregar</button>
  <button class="ui basic button" ng-click="ctrl.limpiarUbicacion()"><i class="erase icon "></i>Limpiar</button>
</div>
<!-- MEDIO UBICACION -->

<div id="ubicacion-labels" class="ui bottom attached segment" ng-if="ctrl.multiple">
  <button title="Borrar todo" ng-click="ctrl.borrarUbicaciones()" class="ui circular icon basic button red" style="float:right"><i class="trash outline icon "></i></button>

</div>
<!-- FIN UBICACION -->
<script type="text/javascript">

$('.circular.info')
  .popup({
    on: 'hover'
  })
;

</script>