
<style type="text/css"> p,li{
  font-size: 16px;

  }</style>

<div class="ui stackable  page" style="margin-bottom: 150px; margin-top: 70px">
  <div class="column">
            
    <div class="ui segment piled" style="margin: 0px 10%;min-height: 460px;">
     <a href="informacion"> <div class="ui top left attached label"><i class="arrow left icon"></i> Atrás</div></a>
         <h1 class="ui center aligned  header">
          
            FONACIDE
            <div class="sub header">"Fondo Nacional de Inversión Pública y Desarrollo"</div>
        </h1>

<div class="ui stackable grid">
    <div class="ui four wide  column">
        <div class="ui fluid vertical pointing menu menu-fonacide">
          <a class="active teal item" data-tab="que-es" href="#que-es">
            ¿Qué es?
            
          </a>
          <a class="item" data-tab="normativas">
            Normativas            
          </a>
          <a class="item" data-tab="destino-de-recursos" >
            
            Destino de Recursos
            
          </a>

           <a class="item" data-tab="recepcion-recursos">
            
           Recepción de Recursos
            
          </a>

           <a class="item" data-tab="rendicion-de-cuentas">
            
            Rendición de cuentas
            
          </a>
          <a class="item"  data-tab="proceso-de-gestion">
            
           Proceso de Gestión
            
          </a>

          <a class="item"  data-tab="link-de-interes">
            
           Links de interés
            
          </a>

         
        </div>
    </div>
     <div class="twelve wide column" >
            <div class="ui segment active tab"  data-tab="que-es" >
              <p>Es un Fondo de desarrollo creado por la <a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Ley4758-12.pdf">Ley N° 4758/2012</a> para asignar en forma racional y eficiente los ingresos que el país recibe en concepto de compensación por la cesión de la energía de la Entidad Binacional Itaipú al Brasil.
</p>
<p>El FONACIDE refleja las prioridades de la política de desarrollo de largo plazo, como son la educación y la investigación científica, la inversión en infraestructura, la salud y el crédito. Con el FONACIDE se asegura que los recursos sean destinados única y exclusivamente a inversiones en capital físico y capital humano.</p>
            </div>
            <div class="ui segment  tab"  data-tab="normativas" >
              <ul>
                    <li>Ley N° 3984/2010 Royalties y Compensaciones a los Gobiernos Departamentales y Municipales.</li>
                    <li><a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Ley4758-12.pdf">Ley N° 4758/2012 FONACIDE</a>

                      <ul>
                        <li>Ley N° 3923/2009 Acuerdo relativo al valor establecido Numeral III.8 del Anexo C del Tratado de Itaipú.</li>
                        <li>Ley N° 4597/2012 Compensación al Municipio de Salto del Guairá.</li>

                      </ul>
                    </li>

                    <li>Decreto <a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Dto9966-12.pdf">N° 9966/2012</a>, Reglamenta las Leyes N° 
                      <ul><li><a href="N° 4758/2012">4758/2012 </a>(Arts. 1º, 2º, 3º, 4º, 5º, 6º, 7º, 8º, 23, 24, 25, 26 y 27) y</li> 
                            <li>3984/2010 Royalties (todos los artículos).</li>


                      </ul> 
                    </li>
                    <li>Decreto N° 10082/2012, Reglamenta el Fondo Nacional de Salud.</li>
                    <li>Decreto <a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Dto10560-13%20.pdf">N° 10560/2013 </a>Integra el Consejo de Administración FONACIDE.</li>
                    <li><a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Ley4841-2012.pdf">Ley N° 4891/13</a> Que Modifica y Amplia la Ley N° 3984/10</li>
                    <li>Royalties y Compensaciones a los Gobiernos Departamentales y Municipales.</li>          


              </ul>
            </div>

            <div class="ui segment  tab"  data-tab="destino-de-recursos" >
        
<img src="/static/images/torta-fonacide.png" class="ui image">

<p>El Fondo Nacional de Inversión Pública y Desarrollo (FONACIDE) y el Fondo para la Excelencia de la Educación y la Investigación está destinado exclusivamente al financiamiento de proyectos de inversión pública y de desarrollo.</p>

<p>Los recursos del FONACIDE serán distribuidos de la siguiente manera <a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Ley4758-12.pdf">(Ley 4758)</a></p>

<ul>

      <li>28% Tesoro Nacional.</li>
      <li>30% Fondo para la Excelencia de la Educación e Investigación.</li>
      <li><b>25% Gobiernos Departamentales y Municipales</b> (20% para Gobernaciones y 80% para Municipalidades).</li>
      <li>7% capitalización de la Agencia Financiera de Desarrollo (AFD).</li>
      <li>10% Fondo Nacional para la Salud.</li>

</ul>

<h4>Gobiernos Departamentales y Municipales</h4> 

<p>Los aspectos legales relacionados al 25% destinado a las Gobernaciones y Municipalidades según la <a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Ley4758-12.pdf">ley 4.758/2012</a> son:</p>






<ul>

  <li><b>50%  a proyectos de infraestructura en educación, consistentes en construcción, remodelación, mantenimiento y equipamiento de centros educativos.</b></li>
  <li>30% a proyectos de almuerzo escolar, beneficiando a niños y niñas de Educación Inicial y Educación Escolar Básica del 1° y 2° ciclos de instituciones educativas del sector oficial, ubicados en contextos vulnerables.</li>
  <li>Los saldos remanentes (20%) a Proyectos de Inversión Pública y de Desarrollo (Artículo 13, Decreto N° 9966/2012).</li>
  <li>Las intervenciones realizadas conforme a las normativas vigentes y a los estándares establecidos por el Ministerio de Educación y Cultura (último párrafo del Artículo 4°, <a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Ley4758-12.pdf">Ley N° 4758/2012)</a>.</li>
</ul>








            </div>

            <div class="ui segment  tab"  data-tab="recepcion-recursos" >
         
              
              <p>Conforme a lo establecido en el Artículo 14 del <a href="
http://www.hacienda.gov.py/fonacide/archivos/documentos/Dto9966-12.pdf">Decreto N° 9966/2012</a> y el cumplimiento del Artículo 5 de la <a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Ley4758-12.pdf">Ley N° 4758/2012</a>, los Gobiernos Departamentales y Municipales deberán cumplir los siguientes requisitos para la transferencia de los recursos financieros correspondientes al FONACIDE</p>

              <ul>
                <li>Habiliten una cuenta bancaria para la recepción de recursos del FONACIDE, con la siguiente denominación: "Ley Nº 4758/2012 FONACIDE (identificación de la Gobernación o Municipio)".</li>
                <li>Informen a la Unidad de Departamentos y Municipios del Ministerio de Hacienda de la cuenta corriente habilitada para la recepción de dichos recursos con el correspondiente certificado bancario y el registro de firma de las personas habilitadas.</li>

              </ul>

 



            </div>

            <div class="ui segment  tab"  data-tab="rendicion-de-cuentas" >

              <p><a href="Ley N° 4758/2012">Ley N° 4758/2012</a>, Artículo 5° y <a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Dto9966-12.pdf">Decreto N° 9966/2012</a>, Artículo 15</p>
              <ul><li> Para disponer de dichos fondos, deberán estar al día con la rendición de cuentas de las partidas provenientes de este Fondo, que hayan sido recibidas con antelación.</li>
                <li>Para el desembolso de los recursos del FONACIDE será obligatoria la presentación de la rendición de cuentas de acuerdo a las normas y procedimientos vigentes establecidos en las Leyes anuales de Presupuesto y reglamentaciones vigentes en la materia.</li>
              </ul>
              <p>Ley N° 4848/2012, Artículo 5° y Decreto N° 10.480/2013, Artículo 314 al 316</p>

              <ul>
                <li>Informes Cuatrimestrales
                  <ul>
                      <li>Informes de rendición de cuentas a la CGR</li>
                      <li>Mismos procedimientos, formularios y plazos para royalties</li>

                  </ul>

              </li>

              <li>Informes Semestrales
                  <ul>
                    <li>Informes de rendición de cuentas a la CGR</li>
                  </ul>
              </li>

              <li>Informes Anuales
                  <ul>
                    <li>Informes financieros, presupuestarios y patrimoniales al MH/SSEAF/DGCP</li>
                  </ul>
              </li>

              </ul>



            </div>

            <div class="ui segment  tab"  data-tab="proceso-de-gestion" >
              <p>Porque es un espacio de participación para que la comunidad pueda tomar decisiones responsables y asuma compromisos sobre la distribución de los recursos humanos, físicos y/o financieros, tales como: construcción, reparación o reposición de la infraestructura educativa, provisión del almuerzo escolar, la habilitación de un nivel, modalidad o institución educativa, basados en las necesidades de la realidad local, a fin de fortalecer la gestión del sistema educativo, elemento crucial para brindar un servicio educativo equitativo y de mejor calidad.</p>
            </div>

              <div class="ui segment  tab"  data-tab="link-de-interes" >
              <ul>
                  <li><a href="http://www.hacienda.gov.py/fonacide/">Ministerio de Hacienda - FONACIDE</a> </li>
                  <li><a href="http://bit.ly/DNCPReporteFonacide">DNCP - FONACIDE</a> </li>
                  <li><a href="http://www.contraloria.gov.py/index.php/2013-04-18-19-15-50/fonacide">COntraloría - FONACIDE</a> </li>
                  <li><a href="http://datos.mec.gov.py/data">MEC - FONACIDE</a> </li>
                  <li><a href="http://fonacide.stp.gov.py/">STP - FONACIDE</a> </li>
                  <li><a href="http://www.mspbs.gov.py/transparencia/fonacide/">MSPBS - FONACIDE</a> </li>


              </ul> 
            </div>
     </div>
</div>

    </div>

</div>



<script type="text/javascript">
$('.menu-fonacide .item').tab(

   
  );

</script>



