<site-nav></site-nav>
<div class="ui grid page">
    <div class="three wide column">
        <div class="row centered margenBTN">
            <div class="huge ui button teal">
                Normativa
            </div>
        </div>

        <div class="row centered margenBTN">
            <div class="huge ui button teal">
                Distribución
            </div>
        </div>
    </div>
    <div class="ten wide column">
        <h1 style="text-align: center">FONACIDE</h1>

        <div class="ui segment">
            <p>Es un fondo de desarrollo creado por la Ley Nº 4758/2012 para asignar en forma racional y eficiente los ingresos que el país recibe en concepto de compensación por la cesión de la energía de la Entidad Binacional Itaipú al Brasil.</p>
            <p>Refleja las prioridades de la política de desarrollo de largo plazo, como son la educación y la investigación científica, la inversión en infraestructura, la salud y el crédito. Se asegura que los recursos sean destinados única y exclusivamente a inversiones en capital físico y capital humano.</p>
            <p>Es un fondo de desarrollo creado por la Ley Nº 4758/2012 para asignar en forma racional y eficiente los ingresos que el país recibe en concepto de compensación por la cesión de la energía de la Entidad Binacional Itaipú al Brasil.</p>
            <p>Refleja las prioridades de la política de desarrollo de largo plazo, como son la educación y la investigación científica, la inversión en infraestructura, la salud y el crédito. Se asegura que los recursos sean destinados única y exclusivamente a inversiones en capital físico y capital humano.</p>
            <p>Es un fondo de desarrollo creado por la Ley Nº 4758/2012 para asignar en forma racional y eficiente los ingresos que el país recibe en concepto de compensación por la cesión de la energía de la Entidad Binacional Itaipú al Brasil.</p>
            <p>Refleja las prioridades de la política de desarrollo de largo plazo, como son la educación y la investigación científica, la inversión en infraestructura, la salud y el crédito. Se asegura que los recursos sean destinados única y exclusivamente a inversiones en capital físico y capital humano.</p>
        </div>
    </div>
    <div class="three wide column">

        <div class="row centered margenBTN">
            <div class="huge ui button teal">
                Proceso
            </div>
        </div>

        <div class="row centered margenBTN">
            <div class="huge ui button teal">
                Rendición de cuentas
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="row centered">
            <div class="huge ui button teal margenBTN">
                Preguntas frencuentes
            </div>
        </div>
    </div>
    <div class="eight wide column ">
        <div class="row centered">
            <div class="massive ui button teal margenBTN">
                Descargar versión en PDF
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="row centered">
            <div class="huge ui button teal">
                Microplanificación
            </div>
        </div>
    </div>

</div>

