


<div class="ui stackable  page" style="margin-bottom: 150px; margin-top: 70px">
  <div class="column">
            
    <div class="ui segment" style="margin: 0px 10%;">
         <h1 class="ui center aligned  header">
          
            FONACIDE
            <div class="sub header">"Fondo Nacional de Inversión Pública y Desarrollo"</div>
        </h1>

<div class="ui stackable grid">
    <div class="ui four wide  column">
        <div class="ui fluid vertical pointing menu menu-fonacide">
          <a class="active teal item" data-tab="que-es">
            Qué es?
            
          </a>
          <a class="item" data-tab="normativas">
            Normativas            
          </a>
          <a class="item" data-tab="destino-de-recursos">
            
            Destino de Recursos
            
          </a>

           <a class="item" data-tab="recepcion-recursos">
            
           Recepcion de Recursos
            
          </a>

           <a class="item" data-tab="rendicion-de-cuentas">
            
            Rendicion de cuentas
            
          </a>
          <a class="item"  data-tab="proceso-de-gestion">
            
           Proceso de Gestión
            
          </a>

         
        </div>
    </div>
     <div class="twelve wide column" >
            <div class="ui segment active tab"  data-tab="que-es" >
              <p>Es un Fondo de desarrollo creado por la Ley N° 4758/2012 para asignar en forma racional y eficiente los ingresos que el país recibe en concepto de compensación por la cesión de la energía de la Entidad Binacional Itaipú al Brasil.
El FONACIDE refleja las prioridades de la política de desarrollo de largo plazo, como son la educación y la investigación científica, la inversión en infraestructura, la salud y el crédito. Con el FONACIDE se asegura que los recursos sean destinados única y exclusivamente a inversiones en capital físico y capital humano.</p>
            </div>
            <div class="ui segment  tab"  data-tab="normativas" >
              <ul>
                    <li>Ley N° 3984/2010 Royalties y Compensaciones a los Gobiernos Departamentales y Municipales.</li>
                    <li>Ley N° 4758/2012 FONACIDE

                      <ul>
                        <li>Ley N° 3923/2009 Acuerdo relativo al valor establecido Numeral III.8 del Anexo C del Tratado de Itaipú.</li>
                        <li>Ley N° 4597/2012 Compensación al Municipio de Salto del Guairá.</li>

                      </ul>
                    </li>

                    <li>Decreto N° 9966/2012, Reglamenta las Leyes N° 
                      <ul><li>4758/2012 (Arts. 1º, 2º, 3º, 4º, 5º, 6º, 7º, 8º, 23, 24, 25, 26 y 27) y</li> 
                            <li>3984/2010 Royalties (todos los artículos).</li>


                      </ul> 
                    </li>
                    <li>Decreto N° 10082/2012, Reglamenta el Fondo Nacional de Salud.</li>
                    <li>Decreto N° 10560/2013 Integra el Consejo de Administración FONACIDE.</li>
                    <li>Ley N° 4891/13 Que Modifica y Amplia la Ley N° 3984/10</li>
                    <li>Royalties y Compensaciones a los Gobiernos Departamentales y Municipales.</li>          


              </ul>
            </div>

            <div class="ui segment  tab"  data-tab="destino-de-recursos" >
            <p>Ley N° 4758/2012, Artículo 4° y Decreto N° 9966/2012, Artículo 13</p>
<h4>Gobiernos Departamentales y Municipales</h4> 

<p>‐ 50% (por lo menos) a proyectos de infraestructura en educación, consistentes en construcción, remodelación, mantenimiento y equipamiento de centros educativos.</p>
<p>‐ 30% a proyectos de almuerzo escolar, beneficiando a niños y niñas de Educación Inicial y Educación Escolar Básica del 1° y 2° ciclos de instituciones educativas del sector oficial, ubicados en contextos vulnerables.</p>

<p>‐ Los saldos remanentes a Proyectos de Inversión Pública y de Desarrollo (Artículo 13, Decreto N° 9966/2012).</p>
<p>‐ Las intervenciones realizadas conforme a las normativas vigentes y a los estándares establecidos por el Ministerio de Educación y Cultura (último párrafo del Artículo 4°, Ley N° 4758/2012).</p>



            </div>

            <div class="ui segment  tab"  data-tab="recepcion-recursos" >
              <p>Ley N° 4758/2012, Artículo 5° y Decreto N° 9966/2012, Artículo 14.</p>

              <ul>
                <li>Habilitar una cuenta bancaria para el FONACIDE</li> 
                <li>Denominación “Ley N° 4758/2012 FONACIDE (Identificación de la Gobernación o Municipio)”</li>
                <li>Informar a la Unidad de Departamentos y Municipios:
                    <ul>
                          <li>
                            la cuenta corriente habilitada para la recepción del recurso
                          </li>
                          <li>la cuenta corriente habilitada para la recepción del recurso</li>
                          <li>el certificado bancario sobre pertenencia de la cuenta.</li>
                          <li>el certificado bancario sobre pertenencia de la cuenta.</li>
                          <li>el registro de firma de las personas habilitadas.</li>
                    </ul>
                </li>



              </ul>

 



            </div>

            <div class="ui segment  tab"  data-tab="rendicion-de-cuentas" >

              <p>Ley N° 4758/2012, Artículo 5° y Decreto N° 9966/2012, Artículo 15</p>
              <ul><li> Para disponer de dichos fondos, deberán estar al día con la rendición de cuentas de las partidas provenientes de este Fondo, que hayan sido recibidas con antelación.</li>
                <li>Para el desembolso de los recursos del FONACIDE será obligatoria la presentación de la rendición de cuentas de acuerdo a las normas y procedimientos vigentes establecidos en las Leyes anuales de Presupuesto y reglamentaciones vigentes en la materia.</li>
              </ul>
              <p>Ley N° 4848/2012, Artículo 5° y Decreto N° 10.48O/2013, Artículo 314 al 316</p>

              <ul>
                <li>Informes Cuatrimestrales
                  <ul>
                      <li>Informes de rendición de cuentas a la CGR</li>
                      <li>Mismos procedimientos, formularios y plazos para royalties</li>

                  </ul>

              </li>

              <li>Informes Semestrales
                  <ul>
                    <li>Informes de rendición de cuentas a la CGR</li>
                  </ul>
              </li>

              <li>Informes Anuales
                  <ul>
                    <li>Informes financieros, presupuestarios y patrimoniales al MH/SSEAF/DGCP</li>
                  </ul>
              </li>

              </ul>



            </div>

            <div class="ui segment  tab"  data-tab="proceso-de-gestion" >
              <p>Porque es un espacio de participación para que la comunidad pueda tomar decisiones responsables y asuma compromisos sobre la distribución de los recursos humanos, físicos y/o financieros, tales como: construcción, reparación o reposición de la infraestructura educativa, provisión del almuerzo escolar, la habilitación de un nivel, modalidad o institución educativa, basados en las necesidades de la realidad local, a fin de fortalecer la gestión del sistema educativo, elemento crucial para brindar un servicio educativo equitativo y de mejor calidad.</p>
            </div>
     </div>
</div>

    </div>

</div>


<script type="text/javascript">
$('.menu-fonacide .item').tab();

</script>



