<div class="footer-info ui inverted teal footer vertical segment" style="margin-left: 0;margin-right: 0">
    <div class="container" style="padding: 20px">
        <div class="ui stackable inverted divided relaxed grid" style="margin-right: 0">
            <div class="eight wide column">

                <h3 class="ui inverted header">Contralor de Fonacide</h3>

                <div class="ui grid">
                         <img src="/static/img/mec.png" alt="" class="eight wide column ui  image " style="width:150px !important;"/> 
                 <img src="/static/img/logo-gobierno.png" alt="" class="eight wide column ui  image" style="width:150px !important;"/> 

                </div>

                
                <p>Desarrollado con el apoyo del <a class="teal-link"
                        href="http://ceamso.org.py/es/proyectos/20-programa-de-democracia-y-gobernabilidad "
                        target="_blank">Programa de Democracia y Gobernabilidad (USAID-CEAMSO)</a></p>

            </div>
            <div class="four wide column">
                <h5 class="ui teal inverted header">Otros enlaces</h5>

                <div class="ui inverted link list">
                    <a  href="" style="color:white;">Sobre</a> -
                    <a  href=""  style="color:white;" >Legal</a> -
                    <a href=""  style="color:white;" >Datasets</a> -
                    <a  href=""  style="color:white;">API</a>
                </div>
            </div>
            <div class="four wide column">

                <h5 class="ui teal inverted header">Contribuir</h5>

                <div class="ui inverted link list">
                    <a class="item" href="http://github.com/ceamso/openfonacide">Github</a>    

                    
                </div>
            </div>
        </div>
    </div>
</div>
