{% load staticfiles %}
<footer class="">
    <div class="ui left aligned grid">
        <div class="right floated right aligned six wide column" style="padding-bottom: 0">
            {#    <div class="ui segment">#}
            <b>Codigo Fuente:</b><a href="https://github.com/nemesiscodex/openfonacide"> Github</a>
            {#    </div>#}
        </div>
        <div class="left floated left aligned six wide column" style="padding-bottom: 0">
            {#    <div class="ui segment">#}
            <b>Autor:</b> Julio Reyes &lt;<a href="mailto:nemesiscodex@gmail.com">nemesiscodex@gmail.com</a>&gt;
            {#    </div>#}
        </div>
        <div class="sixteen wide column">
            {#        <div class="ui segment">#}


<div class="ui segment" style="font-size: 8pt;color: #fe897e"><img src="{% static 'js/images/datos-abiertos.png' %}" height="20px">
    ★ Este software se entrega sin garantía alguna, con la esperanza de que sea util, ante cualquier duda consulte la <a href="http://datos.mec.gov.py/data/establecimientos">fuente original</a> de los datos. Cualquier corrección o sugerencia es bienvenida, en forma de parche o pull request al repositorio.
</div>

            {#</div>#}
        </div>
    </div>

</footer>