<div class="ui inverted teal footer vertical segment">
    <div class="container" style="margin: 10px">
        <div class="ui stackable inverted divided relaxed grid">
            <div class="eight wide column">
                <h3 class="ui inverted header">Contralor de Fonacide</h3>

                <p>Desarrollado con el apoyo del <a class="teal-link"
                        href="http://ceamso.org.py/es/proyectos/20-programa-de-democracia-y-gobernabilidad "
                        target="_blank">Programa de Democracia y Gobernabilidad (USAID-CEAMSO)</a></p>
            </div>
            <div class="four wide column">
                <h5 class="ui teal inverted header">Otros enlaces</h5>

                <div class="ui inverted link list">
                    <a class="item" href="">Sobre</a>
                    <a class="item" href="">Legal</a>
                    <a class="item" href="">Datasets</a>
                    <a class="item" href="">API</a>
                </div>
            </div>
            <div class="four wide column">
                <h5 class="ui teal inverted header">Contribuir</h5>

                <div class="ui inverted link list">
                    <a class="item" href="http://github.com/nemesiscodex/openfonacide">Github</a>
                    <a class="item">&nbsp</a>
                    <a class="item">&nbsp</a>
                    <a class="item">&nbsp</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<footer class="">-->
    <!--<div class="ui grid ">-->
    <!--<div class="sixteen wide column verde2">-->
        <!--<div class="ui right aligned grid">-->
            <!--<div class="right floated left aligned three wide column verde2">-->
                <!--<div class="element">-->
                    <!--<a href="" style="color: white !important;">Sobre</a> --->
                    <!--<a href="" style="color: white !important;">Legal</a> --->
                    <!--<a href="" style="color: white !important;">Datasets</a> --->
                    <!--<a href="" style="color: white !important;">API</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="left floated right aligned five wide column verde2">-->
                <!--<div class="element">-->
                    <!--Desarrollado con el apoyo del <a href="http://ceamso.org.py/es/proyectos/20-programa-de-democracia-y-gobernabilidad " style="color: white !important;" target="_blank">Programa de Democracia y Gobernabilidad (USAID-CEAMSO)</a>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    <!--</div>-->

 <!--</div>-->

<!--</footer>-->
