<h1 class="ui header center aligned">Infografías</h1>


<div class="ui four column  grid centered stackable"  style="min-height: 87%;margin:0">
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header" href="http://htgirolabs.com.py/Mobiliarios">Mobiliarios</a>
      </div>
      <div class="image">
        <img src="/static/images/mobiliarios.png">
      </div>
      <div class="content">
       Distribución de los tipos de mobiliarios solicitados por las instituciones educativas
      </div>
      <div class="ui bottom attached button">
      <i class="add icon"></i>
      Ver
    </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header" href="http://htgirolabs.com.py/agua">Abstecimieno de Agua</a>
      </div>
      <div class="image">
        <img src="/static/images/agua.png">
      </div>
      <div class="content">
       Datos de tipo de abastecimiento de agua.
      </div>
      <div class="ui bottom attached button">
      <i class="add icon"></i>
      Ver
    </div>
    </div>
  </div>
    <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header">Llamados de FONACIDE en el DNCP</a>
      </div>
      <div class="image">
        <img src="/static/images/dncp.png">
      </div>
      <div class="content">
            Distribución de las licitaciones hechas con fondos del FONACIDE
      </div>
      <div class="ui bottom attached button">
      <i class="add icon"></i>
      Ver
    </div>
    </div>
  </div>
</div>