<h1 class="ui header center aligned">Infografías</h1>


<div class="ui four column  grid centered stackable"  style="min-height: 87%;margin:0">
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header" href="mobiliarios" target="_blank">Mobiliarios</a>
      </div>
      <div class="image">
        <img src="/static/images/mobiliarios.png">
      </div>
      <div class="content">
       Dentro de infraestructura se pueden pedir entre otras cosas, las necesidades de Mobiliarios. Sobre este  requerimiento trata esta infografía.
      </div>
      <div class="ui bottom attached button">
        <a href="mobiliarios" target="_blank">

      <i class="add icon"></i>
      Ver
        </a>
    </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header" href="agua" target="_blank">Abstecimieno de Agua</a>
      </div>
      <div class="image">
        <img src="/static/images/agua.png">
      </div>
      <div class="content">
       La fuente de abastecimiento de agua en las escuelas priorizadas para recibir los fondos de FONACIDE es muy variada.
      </div>
      <div class="ui bottom attached button">
        <a href="agua" target="_blank">
      <i class="add icon"></i>
      Ver
      </a>
    </div>
    </div>
  </div>
    <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header" href="dncp" target="_blank">Llamados de FONACIDE en el DNCP</a>
      </div>
      <div class="image">
        <img src="/static/images/dncp.png">
      </div>
      <div class="content">
           En esta infografía podrás responder algunas de las preguntas más comunes en torno a las contrataciones referentes a FONACIDE.
      </div>
      <div class="ui bottom attached button">
        <a href="dncp" target="_blank">
      <i class="add icon"></i>
      Ver
      </a>
    </div>
    </div>
  </div>
</div>