<site-nav></site-nav>
<h1 class="ui header center aligned">Infografías</h1>


<div class="ui four column  grid centered stackable"  style="min-height: 87%;">
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header">Establecimientos</a>
      </div>
      <div class="image">
        <img src="/static/images/image.png">
      </div>
      <div class="content">
       Datos de tipo de abastecimiento de agua
      </div>
      <div class="ui bottom attached button">
      <i class="add icon"></i>
      Ver
    </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header">Agua</a>
      </div>
      <div class="image">
        <img src="/static/images/image.png">
      </div>
      <div class="content">
       Datos de tipo de abastecimiento de agua
      </div>
      <div class="ui bottom attached button">
      <i class="add icon"></i>
      Ver
    </div>
    </div>
  </div>
    <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header">Mobiliarios</a>
      </div>
      <div class="image">
        <img src="/static/images/image.png">
      </div>
      <div class="content">
            Cantidad de muebles segun departamento
      </div>
      <div class="ui bottom attached button">
      <i class="add icon"></i>
      Ver
    </div>
    </div>
  </div>
</div>