{% load staticfiles %}
<div id="home " class="content" style="padding: 20px">


    <div class="ui  centered grid">

        <div class="ten wide column centered ">
        <div class="column titulo">

            <div class="ui page grid">
                <div class="sixteen wide column">
                    <img src="{% static 'img/logo.png' %}/" alt="" class="ui  image"/>
            </div>>
                </div>


            <div class="ui icon input fluid">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
        </div>

        </div>

    </div>

    <div class="ui centered grid ">
        <div class="twelve wide column centered">
            <div class="ui four column doubling grid">
                <div class="column">
                    <div class="ui segment">
                        <img src="/images/avatar/large/elliot.jpg" class="ui fluid image">
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <img src="/images/avatar/large/matt.jpg" class="ui fluid image">
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <img src="/images/avatar/large/jenny.jpg" class="ui fluid image">
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <img src="/images/avatar/large/steve.jpg" class="ui fluid image">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</div>