{% load staticfiles %}
<div id="home" class="content row" style="padding: 20px">

    <h1><img src="{% static 'js/images/datos-abiertos.png' %}" height="50px"/> <b>Open Fonacide</b></h1>
    <hr>
    <h3>Descripcion del Servicio</h3>

    <p></p>

    <h3>Objetivo</h3>

    <p>
        El objetivo de esta pagina es
    </p>

    <h3>Fuente de datos</h3>

    <p>
        Los datos fueron obtenidos de la fuente oficial (<a href="http://datos.mec.gov.py/data/establecimientos">MEC</a>)
        y corresponden al año 2012
    </p>
</div>