{% load staticfiles %}
<html>

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ui.jqgrid.css' %}" />
        <base href="{% url 'index' %}">
        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/leaflet.css' %}" rel="stylesheet">
        <link href="{% static 'css/leaflet.groupedlayercontrol.min.css' %}" rel="stylesheet">
        <link href="{% static 'leaflet.awesome-markers.css' %}" rel="stylesheet">
        <link href="{% static 'css/MarkerCluster.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        <link href="{% static 'js/introjs.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/leaflet-sidebar.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/icon-fonacide.css' %}" rel="stylesheet">
        <link href="{% static 'jquery.nouislider.min.css' %}"  rel="stylesheet">
        <link href="{% static 'jquery.nouislider.pips.min.css' %}"  rel="stylesheet">

    </head>

    <body ng-app="frontEnd"  ng-controller="PageController">
        <!-- Your site -->
        <site-nav ng-show="$location.path() != '/'"></site-nav>
        {% if form.errors %}
        <span ng-init="errors = true"></span>
        {% endif %}

        <div id="ng-view" ng-view >{% url 'index' %}</div>
        <archivos-contraloria></archivos-contraloria>
        <agregar-adjudicacion></agregar-adjudicacion>
        <login-modal></login-modal>
        <denuncia-modal></denuncia-modal>
        <!-- Your site ends -->

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'jquery.nouislider.all.min.js' %}"></script>

        <script src="{% static 'js/leaflet.js' %}"></script>
        <script src="{% static 'js/leaflet.groupedlayercontrol.min.js' %}"></script>
        <script src="{% static 'js/leaflet.markercluster.js' %}"></script>
        <script src="{% static 'leaflet.awesome-markers.min.js' %}"></script>
        <script src="{% static 'js/angular.min.js' %}"></script>
        <script src="{% static 'js/angular-resource.min.js' %}"></script>
        <script src="{% static 'js/angular-cookies.min.js' %}"></script>
        <script src="{% static 'js/angular-route.min.js' %}"></script>
        <script src="{% static 'js/angular-animate.min.js' %}"></script>
         <script src="{% static 'js/angular-scroll.min.js' %}"></script>
        <script src="{% static 'js/angular-datatables.min.js' %}"></script>
        <script src="{% static 'js/angular-datatables.columnfilter.min.js' %}"></script>
        <script src="{% static 'semantic.min.js' %}"></script>
        <!--<script src="{% static 'js/intro.min.js' %}"></script>-->
        <script src="{% static 'js/jsonh.js' %}"></script>
        <script src="{% static 'js/frontend.js' %}"></script>
        <script src="{% static 'js/frontend.MapController.js' %}"></script>
        <script src="{% static 'js/frontend.config.js' %}"></script>
        <script src="{% static 'js/frontend.service.js' %}"></script>
        <script src="{% static 'js/frontend.directive.js' %}"></script>
        <script src="{% static 'js/frontend.PageController.js' %}"></script>
        <script src="{% static 'js/frontend.RecuperarController.js' %}"></script>
        <script src="{% static 'js/frontend.ResultadosController.js' %}"></script>
        <script src="{% static 'js/frontend.ResumenController.js' %}"></script>
        <script src="{% static 'echarts/echarts.js' %}"></script>
        <script src="{% static 'js/frontend.MatchController.js' %}"></script>
        <script src="{% static 'echarts/echarts-all.js' %}"></script>



         <footer-info></footer-info>
    <script>
        // Uppercase every first letter of a word
        jQuery.fn.ucwords = function() {
          return this.each(function(){
            var val = $(this).text().toLowerCase(), newVal = '';
            val = val.split(' ');

            for(var c=0; c < val.length; c++) {
              newVal += val[c].substring(0,1).toUpperCase() + val[c].substring(1,val[c].length) + (c+1==val.length ? '' : ' ');
            }
            $(this).text(newVal);
          });
        }

    </script>
    </body>

</html>
