{% load staticfiles %}
<html>

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ui.jqgrid.css' %}" />
        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/leaflet.css' %}" rel="stylesheet">
        <link href="{% static 'css/leaflet.groupedlayercontrol.min.css' %}" rel="stylesheet">
        <link href="{% static 'leaflet.awesome-markers.css' %}" rel="stylesheet">
        <link href="{% static 'css/MarkerCluster.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        <link href="{% static 'js/introjs.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/leaflet-sidebar.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/icon-fonacide.css' %}" rel="stylesheet">

    </head>

    <body ng-app="frontEnd"  ng-controller="PageController">
        <!-- Your site -->
        <site-nav ng-show="$location.path() != '/'"></site-nav>
        {% if form.errors %}
        <span ng-init="errors = true"></span>
        {% endif %}

        <div id="ng-view" ng-view ></div>

        <archivos-contraloria></archivos-contraloria>
        <login-modal></login-modal>
        <denuncia-modal></denuncia-modal>
        <!-- Your site ends -->

        <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>

        <script src="{% static 'js/leaflet.js' %}"></script>
        <script src="{% static 'js/leaflet.groupedlayercontrol.min.js' %}"></script>
        <script src="{% static 'js/leaflet.markercluster.js' %}"></script>
        <script src="{% static 'leaflet.awesome-markers.min.js' %}"></script>
        <script src="{% static 'js/angular.min.js' %}"></script>
        <script src="{% static 'js/angular-resource.min.js' %}"></script>
        <script src="{% static 'js/angular-cookies.min.js' %}"></script>
        <script src="{% static 'js/angular-route.min.js' %}"></script>
        <script src="{% static 'js/angular-animate.min.js' %}"></script>
        <script src="{% static 'semantic.min.js' %}"></script>
        <!--<script src="{% static 'js/intro.min.js' %}"></script>-->
        <script src="{% static 'js/jsonh.js' %}"></script>
        <script src="{% static 'js/frontend.js' %}"></script>
        <script>
			var $MapController;

			function openPopUp(codigoEstablecimiento, title){
                if(!$MapController)
                    $MapController = angular.element($('#ng-view')).scope();
                    $MapController.showInfoPopUp(codigoEstablecimiento, title);
            }
        </script>


         <footer-info></footer-info>

    </body>

</html>
