<h1 class="ui header center aligned" style="margin-top:30px;">Información</h1>
<div class="ui grid page" style="margin-bottom: 150px; margin-top: 30px">
<div class="sixteen wide column">
<div class="ui two cards stackable">
  <div class="card ">

      <div class="dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
             <a href="fonacide"> 
            <div class="ui  button">Ver Más</div>
            </a>
          </div>
        </div>
      </div>
     <img class="fonacide" src="/static/images/torta-fonacide.png">
    </div>


  

    <div class="content">
      <div class="header"><a href="fonacide">FONACIDE</a></div>
      <div class="meta"></div>
      <div class="description">
        Es un Fondo de desarrollo creado por la <a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Ley4758-12.pdf">Ley N° 4758/2012</a> para asignar en forma racional y eficiente los ingresos que el país recibe en concepto de compensación por la cesión de la energía de la Entidad Binacional Itaipú al Brasil.
      </div>     
    </div>

    <a href="fonacide"> 
     <div class="ui bottom attached teal button">
      <i class="add icon"></i>
      Saber Más
    </div>
    </a>

  </div>
  <div class="card ">
     <div class="dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
             <a href="microplanificacion"> 
            <div class="ui  button">Ver Más</div>
            </a>
          </div>
        </div>
      </div>
     <img class="microplanificacion" src="/images/avatar/large/stevie.jpg">
    </div>


    <div class="content">
      <div class="header"><a href="microplanificacion">MICROPLANIFICACIÓN</a></div>
      <div class="meta"></div>
      <div class="description">
        Es un conjunto de procesos y procedimientos organizados y coordinados para asegurar la equidad en el acceso a una oferta educativa de calidad, así como el uso eficiente y transparente de los recursos destinados al sector mediante la construcción de acciones en forma colectiva.
      </div>
     
    </div>

    <a href="microplanificacion">
     <div class="ui bottom attached teal button">
      <i class="add icon"></i>
     Saber Más
    </div>
    </a>
  </div>
 
 
</div>

    </div>
</div>

<script type="text/javascript">


$('.fonacide').attr('src',$('base').attr('href') + "static/images/torta-fonacide.png");
$('.microplanificacion').attr('src',$('base').attr('href') + "static/images/proceso-micro.png");


$('.card .image').dimmer({
  on: 'hover'
});
</script>