<div class="ui small modal">
    <i class="close icon"></i>

    <div class="header">
        Iniciar Session
    </div>
    <div class="content">
            <div class="column">
                <div class="ui form ">
                    <div class="field">
                        <label>Usuario</label>

                        <div class="ui left icon input">
                            <input type="text" placeholder="Usuario">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Contraseña</label>

                        <div class="ui left icon input">
                            <input type="password" placeholder="Contraseña">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="field">

                        <a href="javascript:void(0)">Olvide mi Contraseña</a>
                    </div>
                    <div class="ui blue submit button">Entrar</div>
                </div>
            </div>

    </div>
</div>
<script>
    $(function () {
        $('.modal')
                .modal('show');
        ;
    });
</script>