<div id="map">
    <div class="ui dimmer" ng-class="{active: loading}" style="z-index:1001">
        <div class="ui indeterminate text loader">Cargando Mapa</div>
    </div>
    <div id="menu-launch" class="ui big filter launch basic right attached fixed button"
         style="padding-right: 10px;position: fixed;top: 200px;z-index: 99;background-color: white !important;">
      <div style="text-align: center; font-size: 0.6em; font-weight: bold;">F<br/>I<br/>L<br/>T<br/>R<br/>O<br/>S</div>
    </div>
</div>