<div id="map" >
    <div id="menu-launch" class="ui big launch basic right attached fixed button"
         style="padding-right: 10px;position: fixed;top: 200px;z-index: 99;background-color: white !important;">
        <i class="content icon"></i>
    </div>


</div>
<script>
$(document).ready(function(){
    $("#menu-launch").click(function() {

         $('.left.sidebar').sidebar('toggle');

          $('.ui.checkbox')
                    .checkbox()
                    ;

        $('.ui.dropdown').dropdown({
    action: 'activate'
  });





    });


});
</script>
</div>