
    <div class="detalle ui verde1 right vertical overlay sidebar push uncover" style="z-index:950" du-scroll-container>
        <div class="ui top attached tabular menu">



          <div class="item institucion-tab" ng-class="{active:institucion.codigo_institucion == $parent.institucion_actual}" establecimiento="{$ institucion.codigo_establecimiento $}" ng-click="$parent.institucion_actual = institucion.codigo_institucion" ng-repeat="institucion in infoData.instituciones" data-tab="inst-{$ institucion.codigo_institucion $}">
            {$ institucion.nombre_institucion $} -  {$ institucion.codigo_institucion $}
          </div>
        </div>



        <div class="ui bottom attached active tab segment stackable grid">
        <div class="ui black basic button" ng-class="{active:periodo == 2012}" ng-click="periodo=2012"  style="margin-left: 10px; margin-top:15px">2012</div>

        <div class="ui black basic button"  ng-class="{active:periodo == 2015}" ng-click="periodo=2015"  style=" margin-top:15px">2015</div>

         <a href="http://datos.mec.gov.py/doc/instituciones/{$ institucion_actual $}" target="_blank" ><div class=" ui button teal" >  Ver más información de la institución</div></a>
        <div class=" ui button teal"  href="#disqus_thread" du-smooth-scroll>  Hacer comentarios</div>



            <div class="one columns row">
                <div class="ui big launch basic right attached fixed button" onclick="$('.detalle').sidebar('toggle')"
                         style="padding-right: 10px;position: fixed;top: 200px;z-index: 99;background-color: white !important;">
                      <div style="text-align: center; font-size: 0.6em; font-weight: bold;">C<br/>E<br/>R<br/>R<br/>A<br/>R</div>
                </div>


                <div class="column " id="prio-aulas" style="padding-left: 40px" ng-repeat="item in prioridades.aulas | filter:periodo"  ng-show="item.codigo_institucion==institucion_actual">
{#                    {$ item.codigo_institucion $} -    {$ institucion_actual $}  - Periodo: {$ item.periodo $} - Periodo: {$ periodo $}#}

                    <div class="ui requerimiento stackable grid segment">
                        <div class="four wide column">


                            <div class="row  center aligned ui segment">
                                <div class="content">
                                <h3>Tipo de Requerimiento</h3>
                                <i class="university icon Big"></i>
                                <h4>{$ item.nombre_espacio $}<span ng-show="!item.nombre_espacio">AULA</span><br/>{$ item.tipo_requerimiento_infraestructura $}</h4>
                                    </div>
                            </div>
                            <div class="row ui  center aligned  segment centered">

                                <div class="ui small statistic">
                                  <div class="value circular ui icon">
                                    {$ item.numero_prioridad $}
                                  </div>
                                  <div class="label">
                                    Orden de Prioridad
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="twelve wide column">
                            <div class="ui grid stackable  center aligned  segment" style="margin-top:0">


                                <div class="six wide column">


                                    <div class="row centered">

                                        <div class="ui statistic small ">
                                        <div class="value">{$ item.numero_beneficiados $}</div>
                                        <label for="beneficiados">Potenciales Beneficiados</label>
                                    </div>
                                    </div>
                                     <div class="row centered">

                                        <div class="ui statistic">
                                        <div class="value">{$ item.cantidad_espacios_nuevos $}</div>
                                        <label for="cantidad">Cantidad</label>
                                    </div>
                                    </div>



                                </div>
                                <div class="ten wide column"><h3>Justificación</h3>

                                    <p>{$ item.justificacion $}</p>


                                </div>
                               </div>
                               <div class="ui doubling center aligned  grid segment">
                                <div class="five wide column">


                                    <h3>Adjudicaciones</h3>
                                    <a class="ui teal label">20.000.000 Gs</a>
                                    <p>Fecha:2014/10/20</p>

                                </div>
                                 <div class="five wide column">
                                    <h3>Estado de la prioridad</h3>

                                     <div class="ui upward icon dropdown button">
                                         <!--<i class="tags icon"></i>-->
                                         <span class="text">

                                             <div class="item active">
                                                 <div class="ui black empty circular label"></div>
                                                 Priorizado
                                             </div>
                                         </span>

                                         <div class="menu">
                                             <!--<div class="header">-->
                                                 <!--Estados-->
                                             <!--</div>-->
                                             <!--<div class="ui left icon input">-->
                                                 <!--<i class="search icon"></i>-->
                                                 <!--<input type="text" name="search" placeholder="Search...">-->
                                             <!--</div>-->
                                             <div class="header">
                                                 <i class="tags icon"></i>
                                                 ESTADOS DE LA OBRA
                                             </div>
                                             <div class="item active">
                                                 <div class="ui gray empty circular label"></div>
                                                 Priorizado
                                             </div>
                                             <div class="item">
                                                 <div class="ui blue empty circular label"></div>
                                                 Adjudicado
                                             </div>
                                             <div class="item">
                                                 <div class="ui yellow empty circular label"></div>
                                                 En ejecucion
                                             </div>
                                             <div class="item">
                                                 <div class="ui green empty circular label"></div>
                                                 Realizada
                                             </div>
                                             <div class="item">
                                                 <div class="ui red empty circular label"></div>
                                                 Parada
                                             </div>
                                         </div>
                                     </div>




                                </div>
                                <div class="six wide column">
                                    <h3>Documentos relacionados</h3>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>



                                </div>

                            </div>



                        </div>
                           <div class="fluid ui button green" onclick="$('.denuncia.modal').modal('show');"> Esta obra se realizo?</div>
                    </div>
                </div>


                <div class="column "  id="prio-sanitarios" style="padding-left: 40px" ng-repeat="item in prioridades.sanitarios | filter:periodo"  ng-show="item.codigo_institucion==institucion_actual" >
{#                      {$ item.codigo_institucion $} -#}
{#                    {$ institucion_actual $} - Periodo: {$ item.periodo $}#}
                    <div class="ui stackable grid segment requerimiento">
                        <div class="four wide column">


                            <div class="row  center aligned ui segment">
                                <div class="content">
                                <h3>Tipo de Requerimiento</h3>
                                <i class="university icon Big"></i>
                                <h4> {$ item.tipo_requerimiento_infraestructura $}<br/>Sanitario</h4>
                                    </div>
                            </div>
                            <div class="row ui  center aligned  segment centered">

                                <div class="ui small statistic">
                                  <div class="value circular ui icon">
                                    {$ item.numero_prioridad $}
                                  </div>
                                  <div class="label">
                                    Orden de Prioridad
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="twelve wide column">
                            <div class="ui grid stackable  center aligned  segment" style="margin-top:0">


                                <div class="six wide column">


                                    <div class="row centered">

                                        <div class="ui statistic small ">
                                        <div class="value">{$ item.numero_beneficiados $}</div>
                                        <label for="beneficiados">Potenciales Beneficiados</label>
                                    </div>
                                    </div>
                                     <div class="row centered">

                                        <div class="ui statistic">
                                        <div class="value">{$ item.cantidad_espacios_nuevos $}</div>
                                        <label for="cantidad">Cantidad</label>
                                    </div>
                                    </div>



                                </div>
                                <div class="ten wide column"><h3>Justificación</h3>

                                    <p>{$ item.justificacion $}</p>


                                </div>
                               </div>
                               <div class="ui doubling center aligned  grid segment">
                                <div class="five wide column">


                                    <h3>Adjudicaciones</h3>
                                    <a class="ui teal label">20.000.000 Gs</a>
                                    <p>Fecha:2014/10/20</p>

                                </div>
                                 <div class="five wide column">
                                    <h3>Estado de la prioridad</h3>

                                     <div class="ui upward icon dropdown button">
                                         <!--<i class="tags icon"></i>-->
                                         <span class="text">

                                             <div class="item active">
                                                 <div class="ui black empty circular label"></div>
                                                 Priorizado
                                             </div>
                                         </span>

                                         <div class="menu">
                                             <!--<div class="header">-->
                                                 <!--Estados-->
                                             <!--</div>-->
                                             <!--<div class="ui left icon input">-->
                                                 <!--<i class="search icon"></i>-->
                                                 <!--<input type="text" name="search" placeholder="Search...">-->
                                             <!--</div>-->
                                             <div class="header">
                                                 <i class="tags icon"></i>
                                                 ESTADOS DE LA OBRA
                                             </div>
                                             <div class="item active">
                                                 <div class="ui gray empty circular label"></div>
                                                 Priorizado
                                             </div>
                                             <div class="item">
                                                 <div class="ui blue empty circular label"></div>
                                                 Adjudicado
                                             </div>
                                             <div class="item">
                                                 <div class="ui yellow empty circular label"></div>
                                                 En ejecucion
                                             </div>
                                             <div class="item">
                                                 <div class="ui green empty circular label"></div>
                                                 Realizada
                                             </div>
                                             <div class="item">
                                                 <div class="ui red empty circular label"></div>
                                                 Parada
                                             </div>
                                         </div>
                                     </div>




                                </div>
                                <div class="six wide column">
                                    <h3>Documentos relacionados</h3>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>



                                </div>

                            </div>



                        </div>
                            <div class="fluid ui button green" onclick="$('.denuncia.modal').modal('show');"> Esta obra se realizo?</div>
                    </div>
                </div>


                 <div class="column " id="prio-mobiliarios" style="padding-left: 40px" ng-repeat="item in prioridades.mobiliarios | filter:periodo"  ng-show="item.codigo_institucion==institucion_actual" >
{#                      {$ item.codigo_institucion $} -#}
{#                    {$ institucion_actual $} - Periodo: {$ item.periodo $}#}
                    <div class="ui stackable grid segment requerimiento">
                        <div class="four wide column">


                            <div class="row  center aligned ui segment">
                                <div class="content">
                                <h3>Tipo de Requerimiento</h3>
                                <i class="university icon Big"></i>
                                <h4>MOBILIARIO <br/> {$ item.nombre_mobiliario $}</h4>
                                    </div>
                            </div>
                            <div class="row ui  center aligned  segment centered">

                                <div class="ui small statistic">
                                  <div class="value circular ui icon">
                                    {$ item.numero_prioridad $}
                                  </div>
                                  <div class="label">
                                    Orden de Prioridad
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="twelve wide column">
                            <div class="ui grid stackable  center aligned  segment" style="margin-top:0">


                                <div class="six wide column">


                                    <div class="row centered">

                                        <div class="ui statistic small ">
                                        <div class="value">{$ item.numero_beneficiados $}</div>
                                        <label for="beneficiados">Potenciales Beneficiados</label>
                                    </div>
                                    </div>
                                     <div class="row centered">

                                        <div class="ui statistic">
                                        <div class="value">{$ item.cantidad_espacios_nuevos $}</div>
                                        <label for="cantidad">Cantidad</label>
                                    </div>
                                    </div>



                                </div>
                                <div class="ten wide column"><h3>Justificación</h3>

                                    <p>{$ item.justificacion $}</p>


                                </div>
                               </div>
                               <div class="ui doubling center aligned  grid segment">
                                <div class="five wide column">


                                    <h3>Adjudicaciones</h3>
                                    <a class="ui teal label">20.000.000 Gs</a>
                                    <p>Fecha:2014/10/20</p>

                                </div>
                                 <div class="five wide column">
                                    <h3>Estado de la prioridad</h3>

                                     <div class="ui upward icon dropdown button">
                                         <!--<i class="tags icon"></i>-->
                                         <span class="text">

                                             <div class="item active">
                                                 <div class="ui black empty circular label"></div>
                                                 Priorizado
                                             </div>
                                         </span>

                                         <div class="menu">
                                             <!--<div class="header">-->
                                                 <!--Estados-->
                                             <!--</div>-->
                                             <!--<div class="ui left icon input">-->
                                                 <!--<i class="search icon"></i>-->
                                                 <!--<input type="text" name="search" placeholder="Search...">-->
                                             <!--</div>-->
                                             <div class="header">
                                                 <i class="tags icon"></i>
                                                 ESTADOS DE LA OBRA
                                             </div>
                                             <div class="item active">
                                                 <div class="ui gray empty circular label"></div>
                                                 Priorizado
                                             </div>
                                             <div class="item">
                                                 <div class="ui blue empty circular label"></div>
                                                 Adjudicado
                                             </div>
                                             <div class="item">
                                                 <div class="ui yellow empty circular label"></div>
                                                 En ejecucion
                                             </div>
                                             <div class="item">
                                                 <div class="ui green empty circular label"></div>
                                                 Realizada
                                             </div>
                                             <div class="item">
                                                 <div class="ui red empty circular label"></div>
                                                 Parada
                                             </div>
                                         </div>
                                     </div>




                                </div>
                                <div class="six wide column">
                                    <h3>Documentos relacionados</h3>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>



                                </div>

                            </div>



                        </div>
                           <div class="fluid ui button green" onclick="$('.denuncia.modal').modal('show');"> Esta obra se realizo?</div>
                    </div>
                </div>


                <div class="column" ng-show="!prioridades.aulas.length && !prioridades.sanitarios.length && !prioridades.mobiliarios.length"> No hay registros</div>

                <div class="column"><div  id="disqus_thread"></div></div>
                
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'contralorfonacide';
   


    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



            </div>



        </div>
    </div>



<div class="ui left  vertical  overlay sidebar push uncover verde1"
     style="z-index:950; background: #36d7b7;">
    <div class="ui big filter launch basic left attached fixed button"
         style="padding-left: 10px;position: relative; float: right; top: 200px;z-index: 99;background-color: white !important;">
      <div style="text-align: center; font-size: 0.6em; font-weight: bold;">F<br/>I<br/>L<br/>T<br/>R<br/>O<br/>S</div>
    </div>
    <div class="item filtros">
        <div class="ui checkbox">
            <input type="checkbox" name="fun">
            <label>Instiuciones beneficiadas <br/> por el fonacide</label>
        </div>
    </div>
    <div class="item filtros">
        <div class="ui checkbox">
            <input type="checkbox" name="fun">
            <label>Instituciones <br/>Denunciadas</label>
        </div>
    </div>
    <div class="item filtros">
        <div class="ui checkbox">
            <input type="checkbox" name="fun">
            <label>Instituciones con <br/> informe de contraloria</label>
        </div>
    </div>
    <div class="item filtros dropdownn" style="z-index: 15;">
        <select class="ui dropdown">
            <option value="">Departamento</option>
            <option value="1">Central</option>
            <option value="0">Cordillera</option>
        </select>
    </div>
    <div class="item filtros dropdownn" style="z-index: 15;">
        <select class="ui dropdown">
            <option value="">Distrito</option>
            <option value="1">Asuncion</option>
            <option value="0">San Lorenzo</option>
        </select>
    </div>
    <div class="item filtros dropdownn" style="z-index: 15;">
        <select class="ui dropdown">
            <option value="">Barrio/Localidad</option>
            <option value="1">Sajonia</option>
            <option value="0">Pte. Franco</option>
        </select>
    </div>

    <div class="item filtros">
        <h4>Tipo de Prioridad</h4>

        <div class="ui grid">
            <div class="two column row">
                <div class="ui checkbox column">
                    <input type="checkbox" name="fun">
                    <label>Sanitarios</label>
                </div>
                <div class="ui checkbox column">
                    <input type="checkbox" name="fun">
                    <label>Aulas</label>
                </div>
            </div>
            <div class="two column row">
                <div class="ui checkbox column">
                    <input type="checkbox" name="fun">
                    <label>Mobiliario</label>
                </div>
                <div class="ui checkbox column">
                    <input type="checkbox" name="fun">
                    <label>Otros Espacios</label>
                </div>
            </div>
        </div>
    </div>
    <div class="item filtros">
        <h4>Filtrar por prioridad</h4>

        <div class="ui slider range">
            <input type="range"/>
        </div>


    </div>

</div>
<map-directive class="pusher">
</map-directive>


</div>
