    <style>

    .tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: -26px;
	padding: 5px;
	left: -9px;
	text-align: center;
	width: 50px;
}
.tooltip.left{
  left: -14px;
}
.tooltip.right{
  left: -4px;
}
.tooltip strong {
	display: block;
	padding: 2px;
}

    /*Ver donde ubicar las reglas*/
    .ui.loader::after{
      border-color: rgba(0,0,0,.6) transparent transparent;
      border-top-width: 0.4em;
      border-bottom-width: 4.0em;
    }
    .ui.loader::before{
      border-color: rgba(0,0,0,.2);
      border-width: 0.4em;
    }
    .ui.loader h2{
      color: #000;
    }



    /*Se define en custom.css línea 81*/
    .sidebar .filtros {
		padding-left: 0 !important;
		margin: 20px 0;
	}


    /*Se define en custom.css línea 70*/
    .sidebar .ui.checkbox label {
		/*color: white !important; cambiamos el color de la letra*/
		color: rgba(0, 0, 0, 0.8) !important;
	}

	/*Se define en semantic.min.css línea 11*/
	.ui.segment{
		   margin: 5%;
		   pargin: 5%;
	}


    </style>

    <div class="detalle ui verde1 right vertical overlay sidebar push uncover" style="z-index: 1002; " du-scroll-container>
        <div class="ui top attached tabular menu">


          <a class="item institucion-tab" ng-class="{active:institucion.codigo_institucion == $parent.institucion_actual}" establecimiento="{$ institucion.codigo_establecimiento $}" href="/map?establecimiento={$ institucion.codigo_establecimiento $}&institucion={$ institucion.codigo_institucion $}" ng-repeat="institucion in infoData.instituciones" data-tab="inst-{$ institucion.codigo_institucion $}">
            {$ institucion.nombre_institucion $} -  {$ institucion.codigo_institucion $}
          </a>
        </div>



        <div class="ui bottom attached active tab segment stackable grid" style="padding-left:30px">
        <div class="ui black basic button" ng-class="{active:periodo == 2012}" ng-click="periodo=2012"  style="margin-left: 10px; margin-top:15px">2012</div>

        <div class="ui black basic button"  ng-class="{active:periodo == 2015}" ng-click="periodo=2015"  style=" margin-top:15px">2015</div>

         <a href="http://datos.mec.gov.py/doc/instituciones/{$ institucion_actual $}" target="_blank" ><div class=" ui button teal" >  Ver más información de la institución</div></a>
        <div class=" ui button teal"  href="#disqus_thread" du-smooth-scroll>  Hacer comentarios</div>

        <div class=" ui button teal" ng-click="mostrarAdjudicaciones()" > Adjudicaciones de la institución</div>



            <div class="one columns row">
                <div class="ui big launch basic right attached fixed button" onclick="$('.detalle').sidebar('toggle');$('#map').css('width', '100%');window.map.invalidateSize();"
                         style="padding-right: 10px;position: fixed;left:0;;top: 200px;z-index: 99;background-color: white !important;">
                      <div style="text-align: center; font-size: 0.6em; font-weight: bold;">C<br/>E<br/>R<br/>R<br/>A<br/>R</div>
                </div>

                <div class="column">
                <div class="ui requerimiento stackable grid segment" style="padding-top: 10px;" ng-show="show_adjudicaciones">
                    <h3>Adjudicaciones</h3>
                    <div class="sixteen wide column">
                    <div class="ui  segment">
                        <ul>
                            <li>Construccion de Baños en el Colegio Nacional- <span class="ui teal label">Gs. 60.000.000</span>  <a href="https://www.contrataciones.gov.py/datos/visualizaciones/etapas-licitacion-emb?id_llamado=272219" target="_blank"> ver estado </a></li>
                            <li>Adquisición de Muebles para Escuelas - <span class="ui teal label">Gs. 60.000.000</span> <a href="https://www.contrataciones.gov.py/datos/visualizaciones/etapas-licitacion-emb?id_llamado=272219" target="_blank"> ver estado </a></li>
                            <li>Construcción Modulo para la Escuela de Danzas - <span class="ui teal label">Gs. 60.000.000</span><a href="https://www.contrataciones.gov.py/datos/visualizaciones/etapas-licitacion-emb?id_llamado=272219" target="_blank"> ver estado </a></li>

                        </ul>
                    </div>
                    </div>

                </div>
                </div>


                <div class="column " id="prio-aulas" ng-repeat="item in prioridades.aulas | filter:periodo"  ng-show="item.codigo_institucion==institucion_actual">
{#                    {$ item.codigo_institucion $} -    {$ institucion_actual $}  - Periodo: {$ item.periodo $} - Periodo: {$ periodo $}#}

                    <div class="ui requerimiento stackable grid segment">
                        <div class="four wide column">


                            <div class="row  center aligned ui segment">
                                <div class="content">
                                <h3>Tipo de Requerimiento</h3>
                                <i class="university icon Big"></i>
                                <h4>{$ item.nombre_espacio $}<span ng-show="!item.nombre_espacio">AULA</span><br/>{$ item.tipo_requerimiento_infraestructura $}</h4>
                                    </div>
                            </div>
                            <div class="row ui  center aligned  segment centered">

                                <div class="ui small statistic">
                                  <div class="value circular ui icon">
                                    {$ item.numero_prioridad $}
                                  </div>
                                  <div class="label">
                                    Orden de Prioridad
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="twelve wide column">
                            <div class="ui grid stackable  center aligned  segment" style="margin-top:0">


                                <div class="six wide column">


                                    <div class="row centered">

                                        <div class="ui statistic small ">
                                        <div class="value">{$ item.numero_beneficiados $}</div>
                                        <label for="beneficiados">Potenciales Beneficiados</label>
                                    </div>
                                    </div>
                                     <div class="row centered">

                                        <div class="ui statistic">
                                        <div class="value">{$ item.cantidad_espacios_nuevos $}</div>
                                        <label for="cantidad">Cantidad</label>
                                    </div>
                                    </div>



                                </div>
                                <div class="ten wide column"><h3>Justificación</h3>

                                    <p>{$ item.justificacion $}</p>


                                </div>
                               </div>
                               <div class="ui doubling center aligned  grid segment">
                                <div class="five wide column">


                                   <div class="fluid ui button green" onclick="$('.denuncia.modal').modal('show');" style="margin-top: 50px"> Esta obra se realizo?</div>

                                </div>
                                 <div class="five wide column">
                                    <h3>Estado de la prioridad</h3>

                                     <div class="ui upward icon dropdown button">
                                         <!--<i class="tags icon"></i>-->
                                         <span class="text">

                                             <div class="item active">
                                                 <div class="ui black empty circular label"></div>
                                                 Priorizado
                                             </div>
                                         </span>

                                         <div class="menu">
                                             <!--<div class="header">-->
                                                 <!--Estados-->
                                             <!--</div>-->
                                             <!--<div class="ui left icon input">-->
                                                 <!--<i class="search icon"></i>-->
                                                 <!--<input type="text" name="search" placeholder="Search...">-->
                                             <!--</div>-->
                                             <div class="header">
                                                 <i class="tags icon"></i>
                                                 ESTADOS DE LA OBRA
                                             </div>
                                             <div class="item active">
                                                 <div class="ui gray empty circular label"></div>
                                                 Priorizado
                                             </div>
                                             <div class="item">
                                                 <div class="ui blue empty circular label"></div>
                                                 Adjudicado
                                             </div>
                                             <div class="item">
                                                 <div class="ui yellow empty circular label"></div>
                                                 En ejecucion
                                             </div>
                                             <div class="item">
                                                 <div class="ui green empty circular label"></div>
                                                 Realizada
                                             </div>
                                             <div class="item">
                                                 <div class="ui red empty circular label"></div>
                                                 Parada
                                             </div>
                                         </div>
                                     </div>




                                </div>
                                <div class="six wide column">
                                    <h3>Documentos relacionados</h3>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>



                                </div>

                            </div>



                        </div>

                    </div>
                </div>


                <div class="column "  id="prio-sanitarios" ng-repeat="item in prioridades.sanitarios | filter:periodo"  ng-show="item.codigo_institucion==institucion_actual" >
{#                      {$ item.codigo_institucion $} -#}
{#                    {$ institucion_actual $} - Periodo: {$ item.periodo $}#}
                    <div class="ui stackable grid segment requerimiento">
                        <div class="four wide column">


                            <div class="row  center aligned ui segment">
                                <div class="content">
                                <h3>Tipo de Requerimiento</h3>
                                <i class="university icon Big"></i>
                                <h4> {$ item.tipo_requerimiento_infraestructura $}<br/>Sanitario</h4>
                                    </div>
                            </div>
                            <div class="row ui  center aligned  segment centered">

                                <div class="ui small statistic">
                                  <div class="value circular ui icon">
                                    {$ item.numero_prioridad $}
                                  </div>
                                  <div class="label">
                                    Orden de Prioridad
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="twelve wide column">
                            <div class="ui grid stackable  center aligned  segment" style="margin-top:0">


                                <div class="six wide column">


                                    <div class="row centered">

                                        <div class="ui statistic small ">
                                        <div class="value">{$ item.numero_beneficiados $}</div>
                                        <label for="beneficiados">Potenciales Beneficiados</label>
                                    </div>
                                    </div>
                                     <div class="row centered">

                                        <div class="ui statistic">
                                        <div class="value">{$ item.cantidad_espacios_nuevos $}</div>
                                        <label for="cantidad">Cantidad</label>
                                    </div>
                                    </div>



                                </div>
                                <div class="ten wide column"><h3>Justificación</h3>

                                    <p>{$ item.justificacion $}</p>


                                </div>
                               </div>
                               <div class="ui doubling center aligned  grid segment">
                                <div class="five wide column">


                                     <div class="fluid ui button green" onclick="$('.denuncia.modal').modal('show');" style="margin-top: 50px"> Esta obra se realizo?</div>




                                </div>
                                 <div class="five wide column">
                                    <h3>Estado de la prioridad</h3>

                                     <div class="ui upward icon dropdown button">
                                         <!--<i class="tags icon"></i>-->
                                         <span class="text">

                                             <div class="item active">
                                                 <div class="ui black empty circular label"></div>
                                                 Priorizado
                                             </div>
                                         </span>

                                         <div class="menu">
                                             <!--<div class="header">-->
                                                 <!--Estados-->
                                             <!--</div>-->
                                             <!--<div class="ui left icon input">-->
                                                 <!--<i class="search icon"></i>-->
                                                 <!--<input type="text" name="search" placeholder="Search...">-->
                                             <!--</div>-->
                                             <div class="header">
                                                 <i class="tags icon"></i>
                                                 ESTADOS DE LA OBRA
                                             </div>
                                             <div class="item active">
                                                 <div class="ui gray empty circular label"></div>
                                                 Priorizado
                                             </div>
                                             <div class="item">
                                                 <div class="ui blue empty circular label"></div>
                                                 Adjudicado
                                             </div>
                                             <div class="item">
                                                 <div class="ui yellow empty circular label"></div>
                                                 En ejecucion
                                             </div>
                                             <div class="item">
                                                 <div class="ui green empty circular label"></div>
                                                 Realizada
                                             </div>
                                             <div class="item">
                                                 <div class="ui red empty circular label"></div>
                                                 Parada
                                             </div>
                                         </div>
                                     </div>




                                </div>
                                <div class="six wide column">
                                    <h3>Documentos relacionados</h3>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>



                                </div>

                            </div>



                        </div>

                    </div>
                </div>


                 <div class="column " id="prio-mobiliarios" ng-repeat="item in prioridades.mobiliarios | filter:periodo"  ng-show="item.codigo_institucion==institucion_actual" >
{#                      {$ item.codigo_institucion $} -#}
{#                    {$ institucion_actual $} - Periodo: {$ item.periodo $}#}
                    <div class="ui stackable grid segment requerimiento">
                        <div class="four wide column">


                            <div class="row  center aligned ui segment">
                                <div class="content">
                                <h3>Tipo de Requerimiento</h3>
                                <i class="university icon Big"></i>
                                <h4>MOBILIARIO <br/> {$ item.nombre_mobiliario $}</h4>
                                    </div>
                            </div>
                            <div class="row ui  center aligned  segment centered">

                                <div class="ui small statistic">
                                  <div class="value circular ui icon">
                                    {$ item.numero_prioridad $}
                                  </div>
                                  <div class="label">
                                    Orden de Prioridad
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="twelve wide column">
                            <div class="ui grid stackable  center aligned  segment" style="margin-top:0">


                                <div class="six wide column">


                                    <div class="row centered">

                                        <div class="ui statistic small ">
                                        <div class="value">{$ item.numero_beneficiados $}</div>
                                        <label for="beneficiados">Potenciales Beneficiados</label>
                                    </div>
                                    </div>
                                     <div class="row centered">

                                        <div class="ui statistic">
                                        <div class="value">{$ item.cantidad_espacios_nuevos $}</div>
                                        <label for="cantidad">Cantidad</label>
                                    </div>
                                    </div>



                                </div>
                                <div class="ten wide column"><h3>Justificación</h3>

                                    <p>{$ item.justificacion $}</p>


                                </div>
                               </div>
                               <div class="ui doubling center aligned  grid segment">
                                <div class="five wide column">


                                     <div class="fluid ui button green" onclick="$('.denuncia.modal').modal('show');" style="margin-top: 50px"> Esta obra se realizo?</div>

                                </div>
                                 <div class="five wide column">
                                    <h3>Estado de la prioridad</h3>

                                     <div class="ui upward icon dropdown button">
                                         <!--<i class="tags icon"></i>-->
                                         <span class="text">

                                             <div class="item active">
                                                 <div class="ui black empty circular label"></div>
                                                 Priorizado
                                             </div>
                                         </span>

                                         <div class="menu">
                                             <!--<div class="header">-->
                                                 <!--Estados-->
                                             <!--</div>-->
                                             <!--<div class="ui left icon input">-->
                                                 <!--<i class="search icon"></i>-->
                                                 <!--<input type="text" name="search" placeholder="Search...">-->
                                             <!--</div>-->
                                             <div class="header">
                                                 <i class="tags icon"></i>
                                                 ESTADOS DE LA OBRA
                                             </div>
                                             <div class="item active">
                                                 <div class="ui gray empty circular label"></div>
                                                 Priorizado
                                             </div>
                                             <div class="item">
                                                 <div class="ui blue empty circular label"></div>
                                                 Adjudicado
                                             </div>
                                             <div class="item">
                                                 <div class="ui yellow empty circular label"></div>
                                                 En ejecucion
                                             </div>
                                             <div class="item">
                                                 <div class="ui green empty circular label"></div>
                                                 Realizada
                                             </div>
                                             <div class="item">
                                                 <div class="ui red empty circular label"></div>
                                                 Parada
                                             </div>
                                         </div>
                                     </div>




                                </div>
                                <div class="six wide column">
                                    <h3>Documentos relacionados</h3>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>
                                    <a href=""><i class="file pdf outline icon"></i> Informe Contraloria</a><br/>



                                </div>

                            </div>



                        </div>

                    </div>
                </div>


                <div class="column" ng-show="!prioridades.aulas.length && !prioridades.sanitarios.length && !prioridades.mobiliarios.length"> No hay registros</div>

                <div class="column"><div  id="disqus_thread"></div></div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'contralorfonacide';



    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var prev = document.getElementById('disqus_stuff');
        if(prev !== null){
          DISQUS.reset({
            reload: true
          });
          return;
        }
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        dsq.id = 'disqus_stuff';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



            </div>



        </div>
    </div>

<!--
<div class="two column ">
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label>Mobiliario</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" name="fun">
                        <label>Otros Espacios</label>
                    </div>
                </div>
-->

<div class="ui left  vertical  overlay sidebar push uncover"
     style="z-index: 1002; background: #f7f7f7;">
    <div class="ui big filter launch basic left attached fixed button"
         style="padding-left: 10px;position: relative; float: right; top: 200px;z-index: 99;background-color: white !important;">
      <div style="text-align: center; font-size: 0.6em; font-weight: bold;">F<br/>I<br/>L<br/>T<br/>R<br/>O<br/>S</div>
    </div>

    <div class="ui segment labels teal"> <!--Agrupamos por tipo -->
		<label class="ui teal label">Filtrado por Instituciones</label>
		<div class="item filtros">
			<div class="ui checkbox" ng-click="filtro('fonacide')">
				<input type="checkbox" name="fun">
				<label>Instituciones beneficiadas <br/> por el fonacide</label>
			</div>
		</div>
		<div class="item filtros">
			<div class="ui checkbox">
				<input type="checkbox" name="fun">
				<label>Instituciones <br/>Denunciadas</label>
			</div>
		</div>
		<div class="item filtros">
			<div class="ui checkbox">
				<input type="checkbox" name="fun">
				<label>Instituciones con <br/> informe de contraloria</label>
			</div>
		</div>
    </div>

     <div class="ui segment labels teal"> <!--Agrupamos por tipo -->
		 <label class="ui teal label">Filtrado por ubicación</label>
    <div class="item filtros dropdownn" style="z-index: 999999;">
        <select class="ui dropdown">
            <option value="">Departamento</option>
            <option value="1">Central</option>
            <option value="0">Cordillera</option>
        </select>
    </div>
    <div class="item filtros dropdownn" style="z-index: 99999;">
        <select class="ui dropdown">
            <option value="">Distrito</option>
            <option value="1">Asuncion</option>
            <option value="0">San Lorenzo</option>
        </select>
    </div>
    <div class="item filtros dropdownn" style="z-index: 9999;">
        <select class="ui dropdown">
            <option value="">Barrio/Localidad</option>
            <option value="1">Sajonia</option>
            <option value="0">Pte. Franco</option>
        </select>
    </div>

    </div>

     <div class="ui segment labels teal"> <!--Agrupamos por tipo -->
	<label class="ui teal label">Filtrado por prioridades</label>
    <div class="item filtros">
        <h4>Tipo de Prioridad</h4>

        <div class="ui two column grid">
            <div class="column">
                <div class="ui checkbox column">
                    <input type="checkbox" name="fun">
                    <label>Sanitarios</label>
                </div>
            </div>
            <div class="column">
                <div class="ui checkbox column">
                    <input type="checkbox" name="fun">
                    <label>Aulas</label>
                </div>
            </div>
            <div class="column">
                <div class="ui checkbox column">
                    <input type="checkbox" name="fun">
                    <label>Mobiliario</label>
                </div>
            </div>
            <div class="column">
                <div class="ui checkbox column">
                    <input type="checkbox" name="fun">
                    <label>Otros Espacios</label>
                </div>
            </div>
        </div>
    </div>

     <div class="item filtros">
        <h4>Prioridad</h4>
        <div class="content" style="padding: 20px">
          <div class="range slider"> </div>
        </div>

    </div>


     </div>

</div>
<!-- <div class="ui dimmer" ng-class="{active: loading}" style="z-index:1001"> -->

<!-- </div> -->
<div id="menu-launch" class="ui big filter launch basic right attached fixed button"
     style="padding-right: 10px;position: fixed;top: 200px;z-index: 99;background-color: white !important;">
  <div style="text-align: center; font-size: 0.6em; font-weight: bold;">F<br/>I<br/>L<br/>T<br/>R<br/>O<br/>S</div>
</div>
<div class="pusher mapContainer" style="background-color: #00b5ad" onClick="$('#map').css('width', '100%'); window.map.invalidateSize();">
  <div id="map" style="height: 96%">
    <div class="ui indeterminate large text active loader" ng-show="loading" ng-class="{active: loading}">
      <h2>Cargando</h2>
    </div>
  </div>
</div>
<script>
  (function(){

    $('.ui.checkbox').checkbox();
    $('.ui.dropdown').dropdown();
    angular.element(".filter.launch").click(function(){
      angular.element('.left.sidebar')
      .sidebar({
        context: angular.element('[ng-view]'),
        dimPage: false,
        closable: false
      })
      .sidebar('toggle');
    });

    var rangeSlider = $('.range.slider').noUiSlider({
      start: [0, 200],
      step: 10,
      snap: true,
      connect: true,
      range: {
        min: 0,
        '5%': 10,
        '10%': 20,
        '15%': 30,
        '20%': 40,
        '25%': 50,
        '30%': 60,
        '35%': 70,
        '40%': 80,
        '45%': 90,
        '50%': 100,
        '55%': 110,
        '60%': 120,
        '65%': 130,
        '70%': 140,
        '75%': 150,
        '80%': 160,
        '85%': 170,
        '90%': 180,
        '95%': 190,
        max: 200
      }
    }, true).noUiSlider_pips({
      mode: 'range',
      filter: function(value){
        return value % 100? (value % 50? 0 : 2 ): 1;
      },
      density: 3
    })
    rangeSlider.Link('upper').to('-inline-<div class="tooltip right"></div>', function ( value ) {

      // The tooltip HTML is 'this', so additional
      // markup can be inserted here.
      $(this).html(
        '<span>' + value + '</span>'
      );
    });
    rangeSlider.Link('lower').to('-inline-<div class="tooltip left"></div>', function ( value ) {

      // The tooltip HTML is 'this', so additional
      // markup can be inserted here.
      $(this).html(
        '<span>' + value + '</span>'
      );
    });
  })();
</script>
