<style type="text/css" xmlns="http://www.w3.org/1999/html">
        .strong{
        font-weight: bold;
        }
    </style>
<div class="ui page grid">
    <div class="sixteen wide column" style="padding-top: 30px;padding-bottom: 30px;">
    <table datatable="ng" dt-options="controller.dtOptions" class="ui compact celled definition table" id="resultList">
        <thead class="full-width">
        <tr>
            <th>
                <div id="toggle" class="ui small basic button">
                    Todos
                </div>
            </th>
            <th>Periodo</th>
            <th>Departamento</th>
            <th>Distrito</th>
            <th>Código de Institución</th>
            <th>Nombre de Institución</th>
            <!-- <th>Id de Planificación</th> -->
            <!-- <th>Año</th> -->
            <th>Id de Llamado</th>
            <th>Nombre Licitación</th>
            <th>Convocante</th>
        </tr>
        </thead>
        <tbody>
        <div>
            <tr ng-repeat=" t in resultados">
                <td class="collapsing">
                    <div class="ui toggle match checkbox" style="float: right">
                        <input id="confirmar_check_{$ t.codigo_institucion $}" data-institucion="{$ t.codigo_institucion $}" data-llamado="{$ t.id_llamado $}"
                               type="checkbox">
                        <label for="confirmar_check_{$ t.codigo_institucion $}"></label>
                    </div>
                </td>
                <td>{$ t.periodo $}</td>
                <td>{$ t.nombre_departamento $}</td>
                <td>{$ t.nombre_distrito $}</td>
                <td>{$ t.codigo_institucion $}</td>
                <td>{$ t.nombre_institucion $}</td>
                <!-- <td>{{ t.id_planificacion }}</td> -->
                <!-- <td>{{ t.anio }}</td> -->
                <td>{$ t.id_llamado $}</td>
                <td>{$ t.nombre_licitacion $}</td>
                <td>{$ t.convocante $}</td>
            </tr>
        </div>
        </tbody>
    </table>

    </div>
</div>

