


<div class="ui stackable  page" style="margin-bottom: 150px; margin-top: 70px">
  <div class="column" id="context1">
            
    <div class="ui segment" style="margin: 0px 60px;">
         <h1 class="ui center aligned  header">
          
            FONACIDE
            <div class="sub header">"Adaptando la oferta a la demanda de la educacion"</div>
        </h1>

  <!--  DIAGNOSTICO-->
 
            <div class="ui grid doubling segment active tab" data-tab="diagnostico" style="margin-bottom:30px;">
                  <div class="four wide column">
                    <div class=" our wide column ui fluid vertical pointing  menu menu-diagnostico" >
                      <a class="active item" data-tab="diagnostico/descripcion">
                        Descripcion            
                      </a>
                      <a class="item" data-tab="diagnostico/objetivos">
                        Objetivos            
                      </a>
                      <a class="item" data-tab="diagnostico/actores">
                        Actores involucrados
                      </a>
                      <a class="item" data-tab="diagnostico/detalle">            
                        Detalle            
                      </a>
                      <a class="item" data-tab="diagnostico/producto">            
                        Producto            
                      </a>         
                    </div>
                  </div>

                  <div class="twelve wide column" >

                    <div class="ui segment active tab" data-tab="diagnostico/descripcion"><p>Porque es un espacio de participación para que la comunidad pueda tomar decisiones responsables y asuma compromisos sobre la distribución de los recursos humanos, físicos y/o financieros, tales como: construcción, reparación o reposición de la infraestructura educativa, provisión del almuerzo escolar, la habilitación de un nivel, modalidad o institución educativa, basados en las necesidades de la realidad local, a fin de fortalecer la gestión del sistema educativo, elemento crucial para brindar un servicio educativo equitativo y de mejor calidad.</p>
                    </div>

                    <div class="ui segment tab" data-tab="diagnostico/objetivos">
                      <p>Objetivos</p>

                    </div>
                    <div class="ui segment tab" data-tab="diagnostico/actores">
                        <p>Actores</p>

                    </div>

                    <div class="ui segment tab" data-tab="diagnostico/detalle">
                      <p>Detalle</p>

                    </div>
                    <div class="ui segment tab" data-tab="diagnostico/producto">
                      <p>Producto</p>

                    </div>
                    

                  </div> 
            </div>

  <!--  ESPECIFICACION-->
             <div class="ui grid doubling segment  tab" data-tab="especificacion" style="margin-bottom:30px;">
                  <div class="four wide column">
                    <div class=" our wide column ui fluid vertical pointing  menu menu-especificacion" >
                      <a class="active item" data-tab="especificacion/descripcion">
                        Descripcion            
                      </a>
                      <a class="item" data-tab="especificacion/objetivos">
                        Objetivos            
                      </a>
                      <a class="item" data-tab="especificacion/actores">
                        Actores involucrados
                      </a>
                      <a class="item" data-tab="especificacion/detalle">            
                        Detalle            
                      </a>
                      <a class="item" data-tab="especificacion/producto">            
                        Producto            
                      </a>         
                    </div>
                  </div>

                  <div class="twelve wide column" >

                    <div class="ui segment active tab" data-tab="especificacion/descripcion"><p>Porque es un espacio de participación para que la comunidad pueda tomar decisiones responsables y asuma compromisos sobre la distribución de los recursos humanos, físicos y/o financieros, tales como: construcción, reparación o reposición de la infraestructura educativa, provisión del almuerzo escolar, la habilitación de un nivel, modalidad o institución educativa, basados en las necesidades de la realidad local, a fin de fortalecer la gestión del sistema educativo, elemento crucial para brindar un servicio educativo equitativo y de mejor calidad.</p>
                    </div>

                    <div class="ui segment tab" data-tab="especificacion/objetivos">
                      <p>Objetivos</p>

                    </div>
                    <div class="ui segment tab" data-tab="especificacion/actores">
                        <p>Actores</p>

                    </div>

                    <div class="ui segment tab" data-tab="especificacion/detalle">
                      <p>Detalle</p>

                    </div>
                    <div class="ui segment tab" data-tab="especificacion/producto">
                      <p>Producto</p>

                    </div>
                    

                  </div> 
            </div>
            
<!--  ASIGNACION-->
             <div class="ui grid  doubling segment  tab" data-tab="asignacion" style="margin-bottom:30px;">
                  <div class="four wide column">
                    <div class=" our wide column ui fluid vertical pointing  menu menu-asignacion" >
                      <a class="active item" data-tab="asignacion/descripcion">
                        Descripcion            
                      </a>
                      <a class="item" data-tab="asignacion/objetivos">
                        Objetivos            
                      </a>
                      <a class="item" data-tab="asignacion/actores">
                        Actores involucrados
                      </a>
                      <a class="item" data-tab="asignacion/detalle">            
                        Detalle            
                      </a>
                      <a class="item" data-tab="asignacion/producto">            
                        Producto            
                      </a>         
                    </div>
                  </div>

                  <div class="twelve wide column" >

                    <div class="ui segment active tab" data-tab="asignacion/descripcion"><p>Porque es un espacio de participación para que la comunidad pueda tomar decisiones responsables y asuma compromisos sobre la distribución de los recursos humanos, físicos y/o financieros, tales como: construcción, reparación o reposición de la infraestructura educativa, provisión del almuerzo escolar, la habilitación de un nivel, modalidad o institución educativa, basados en las necesidades de la realidad local, a fin de fortalecer la gestión del sistema educativo, elemento crucial para brindar un servicio educativo equitativo y de mejor calidad.</p>
                    </div>

                    <div class="ui segment tab" data-tab="asignacion/objetivos">
                      <p>Objetivos</p>

                    </div>
                    <div class="ui segment tab" data-tab="asignacion/actores">
                        <p>Actores</p>

                    </div>

                    <div class="ui segment tab" data-tab="asignacion/detalle">
                      <p>Detalle</p>

                    </div>
                    <div class="ui segment tab" data-tab="asignacion/producto">
                      <p>Producto</p>

                    </div>
                    

                  </div> 
            </div>
           
  <!--  EVALUACION-->
             <div class="ui grid doubling segment  tab" data-tab="evaluacion" style="margin-bottom:30px;">
                  <div class="four wide column">
                    <div class=" our wide column ui fluid vertical pointing  menu menu-evaluacion" >
                      <a class="active item" data-tab="evaluacion/descripcion">
                        Descripcion            
                      </a>
                      <a class="item" data-tab="evaluacion/objetivos">
                        Objetivos            
                      </a>
                      <a class="item" data-tab="evaluacion/actores">
                        Actores involucrados
                      </a>
                      <a class="item" data-tab="evaluacion/detalle">            
                        Detalle            
                      </a>
                      <a class="item" data-tab="evaluacion/producto">            
                        Producto            
                      </a>         
                    </div>
                  </div>

                  <div class="twelve wide column" >

                    <div class="ui segment active tab" data-tab="evaluacion/descripcion"><p>Porque es un espacio de participación para que la comunidad pueda tomar decisiones responsables y asuma compromisos sobre la distribución de los recursos humanos, físicos y/o financieros, tales como: construcción, reparación o reposición de la infraestructura educativa, provisión del almuerzo escolar, la habilitación de un nivel, modalidad o institución educativa, basados en las necesidades de la realidad local, a fin de fortalecer la gestión del sistema educativo, elemento crucial para brindar un servicio educativo equitativo y de mejor calidad.</p>
                    </div>

                    <div class="ui segment tab" data-tab="evaluacion/objetivos">
                      <p>Objetivos</p>

                    </div>
                    <div class="ui segment tab" data-tab="evaluacion/actores">
                        <p>Actores</p>

                    </div>

                    <div class="ui segment tab" data-tab="evaluacion/detalle">
                      <p>Detalle</p>

                    </div>
                    <div class="ui segment tab" data-tab="evaluacion/producto">
                      <p>Producto</p>

                    </div>
                    

                  </div> 
            </div>
           

  <!--  MENU DE ABAJO-->

    
            <div class="ui fluid steps">
              <div class="active step" data-tab="diagnostico"> 
                      
                <i class="info icon"></i>
                <div class="content">
                 
                  <div class="title">Diagnostico</div>
                  <div class="description">Febrero – Abril</div>
                  
                </div>
               
              </div>
              <div class="step" data-tab="especificacion">
                <i class="info icon"></i>
                <div class="content">
                  <div class="title">Especificación</div>
                  <div class="description">Abril - Setiembre</div>
                </div>
              </div>
              <div class=" step" data-tab="asignacion">
                <i class="info icon"></i>
                <div class="content">
                  <div class="title">Asignación</div>
                  <div class="description">Octubre – febrero</div>
                  
                </div>
              </div>
              <div class=" step" data-tab="evaluacion">
                <i class="info icon"></i>
                <div class="content">
                  <div class="title">Evaluación</div>
                   <div class="description">Febrero</div>
                </div>
              </div>
            </div>
  






    </div>

</div>



<script type="text/javascript">

$('.steps .step').tab();


$('.menu-diagnostico .item').tab();

$('.menu-asignacion .item').tab();


$('.menu-evaluacion .item').tab();

$('.menu-especificacion .item').tab();




</script>