


<div class="ui stackable  page" style="margin-bottom: 150px; margin-top: 70px">
  <div class="column">
            
    <div class="ui segment" style="margin: 0px 60px;">
         <h1 class="ui center aligned  header">
          
            FONACIDE
            <div class="sub header">"Adaptando la oferta a la demanda de la educacion"</div>
        </h1>

<div class="ui grid">
    <div class="four wide column">
        <div class="ui fluid vertical pointing menu">
          <a class="active teal item" href="microplanificacion">
            Qué es?
            
          </a>
          <a class=" item">
            Normativas
            
          </a>
          <a class="item">
            
            Destino de Recursos
            
          </a>
          <a class="item">
            
           Proceso de Gestión
            
          </a>

         
        </div>
    </div>
 <div class="twelve wide column">
        <div class="ui segment">
          <p>Porque es un espacio de participación para que la comunidad pueda tomar decisiones responsables y asuma compromisos sobre la distribución de los recursos humanos, físicos y/o financieros, tales como: construcción, reparación o reposición de la infraestructura educativa, provisión del almuerzo escolar, la habilitación de un nivel, modalidad o institución educativa, basados en las necesidades de la realidad local, a fin de fortalecer la gestión del sistema educativo, elemento crucial para brindar un servicio educativo equitativo y de mejor calidad.</p>
        </div>

         <div class="ui fluid steps">
  <div class="step">
    <i class="truck icon"></i>
    <div class="content">
      <div class="title">Diagnostico</div>
      <div class="description"></div>
    </div>
  </div>
  <div class="active step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">Especificacion</div>
      <div class="description"></div>
    </div>
  </div>
  <div class=" step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">Asignacion</div>
    </div>
  </div>
  <div class=" step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">Evaluacion</div>
    </div>
  </div>
</div>



 </div>
    </div>

    </div>

</div>



