{% load staticfiles %}
<style type="text/css">

.contenido-explicacion {
    min-height: 200px;

}
</style>


<style type="text/css"> p,li{
  font-size: 16px;

  }</style>


<div class="ui stackable  page" style="margin-bottom: 150px; margin-top: 70px">


    <div class="ui segment piled" style="margin: 0px 10%;min-height: 515px;">
     <a href="informacion"><div class="ui top left attached label"><i class="arrow left icon"></i> Atrás</div></a> 


        <div class="column">
             <h1 class="ui center aligned  header">
          
            MICROPLANIFICACIÓN
            <div class="sub header">"Adaptando la oferta a la demanda de la educación"</div>
        </h1>
     


       

        <div class="ui segment tab contenido-explicacion active"  style="min-height: 300px;" data-tab="que-es">

          <p> La MICROPLANIFICACIÓN es un conjunto de <i>procesos y procedimientos organizados y coordinados</i> para <b>asegurar la equidad en el acceso a una oferta educativa de calidad</b>, así como el <b>uso eficiente y transparente de los recursos</b> destinados al sector mediante la construcción de acciones en forma colectiva <i>basados en consensos y criterios preestablecidos para el logro de los objetivos de políticas educativas</i> que contribuyan a un mayor desarrollo de la comunidad en general.</p>
          <p>Este proceso requiere un conocimiento acabado de las <b>necesidades de la comunidad</b> y/o del sector en particular, de la <b>disponibilidad de los recursos</b>, así como de una <b>participación activa y responsable</b> de los actores locales para que las decisiones tomadas se correspondan con la realidad y coherentes con los principios rectores de la política educativa en el país.
          </p>

          <h4>¿Qué tiene que ver MICROPLANIFICACIÓN con el FONACIDE?</h4>

            <p>Según el Art. 37 de la <a href="http://www.hacienda.gov.py/fonacide/archivos/documentos/Ley4758-12.pdf">Ley N° 4758/2012: Fonacide</a>: "<b>Los proyectos de infraestructura y equipamientos establecidos en el Art. 4º de la Ley 4578/2012, serán identificados y priorizados a través de la metodología de la microplanificación de la oferta educativa implementado por el MEC</b>, que considera entre otras cosas las características demográficas, la disponibilidad y la situación de la infraestructura educativa a nivel local. Los proyectos de infraestructura y equipamientos deberán enmarcarse dentro de las normativas vigentes, estándares de calidad de materiales, de mano de obra, de planos tipos, de especificaciones técnicas, establecidas y aplicadas por el MEC, así como de su aprobación y fiscalización por parte de la misma entidad.”</p>
         


       
        </div>

        <div class="ui segment tab contenido-explicacion " style="min-height: 300px;"  data-tab="porque">
          <h4>¿Cuál es el motivo de la MICROPLANIFICACION?</h4>
              <p>Es un <b>espacio de participación para que la comunidad pueda tomar decisiones responsables y asuma compromisos sobre la distribución de los recursos humanos, físicos y/o financieros</b>, tales como: construcción, reparación o reposición de la infraestructura educativa, provisión del almuerzo escolar, la habilitación de un nivel, modalidad o institución educativa, basados en las necesidades de la realidad local, a fin de fortalecer la gestión del sistema educativo, elemento crucial para brindar un servicio educativo equitativo y de mejor calidad.
              </p>  

             
        </div>


        <div class="ui segment tab contenido-explicacion " style="min-height: 300px;"  data-tab="proceso">

           <img src="/static/images/proceso-micro.png" class="ui image medium  right floated ">
        El proceso de Micro planificación se compone de las siguientes fases:
        <ul>
          <li>Fase I: Diagnóstico educativo departamental</li>
          <li>Fase II: Identificación de requerimientos y reasignación de recursos.</li>
          <li>Fase III: Asignación de recursos.</li>
          <li>Fase IV: Evaluación.</li>




        </ul> 


<a href="microplanificacion-proceso">
         <div class="large ui button left floated" style="margin-left:0%;" >
                 <i class="add icon"></i>Ver más
              </div>
</a>



        </div>

         <div class="3 fluid ui buttons menu-micro">
          <div class="ui button item active" data-tab="que-es">¿Qué es?</div>
          <div class="ui button item" data-tab="porque">El motivo</div>
          <div class="ui button item"  data-tab="proceso">Proceso</div>
        </div>

     
     

        </div>

       <div class="four column centered row" style="margin-top:20px;">
                  <div class="column"></div>
                  <div class="column">
                    <a href="{% static 'manual-microplanificacion.pdf' %}" target="_blank">
                    <div class="big ui button right floated">
                      <i class="download icon"></i>Descargar el manual de Planificacion
                    </div>
                    </a>
                 </div>
        </div>

</div>




</div>

<script type="text/javascript">

$('.menu-micro .button').tab();


</script>

