<div class="ui large inverted blue pointing menu">

    <a  class="blue item" data-step="1" data-intro="Esta es la p&aacute;gina principal" ng-class="{active:isTab('home')}"  ng-click="setTab('home')">
        <i class="home icon"></i> OpenFonacide
    </a>
    <a class="blue item" data-step="2" data-intro="Esta es la definicion del API Rest" ng-class="{active:isTab('api')}" ng-click="setTab('api')">
        <i class="puzzle icon"></i> API
    </a>
    <a class="blue item" data-step="3" data-intro="En este mapa se visualiza cada uno de los establecimientos educativos. Con su respectiva información" ng-class="{active:isTab('map')}" ng-click="setTab('map')">
        <i class="map icon"></i> Mapa de instituciones
    </a>
    <a class="blue item" data-step="4" data-intro="Esta es una lista de prioridades en una tabla que puede ser ordenada y filtrada por cualquier columna." ng-class="{active:isTab('instituciones')}" ng-click="setTab('instituciones')">
        <i class="list icon"></i> Lista de prioridades
    </a>
    <a class="blue item" data-step="5" data-intro="Aquí puede encontrar visualizaciones hechas con los datos del fonacide." ng-class="{active:isTab('visualizaciones')}" ng-click="setTab('visualizaciones')">
       <i class="picture icon"></i>Visualizaciones
    </a>
    <div class="ui dropdown item" data-step="6" data-intro="De aquí se pueden descargar los datasets de prioridades en formato CSV">
        <i class="dropdown icon"></i>Descargas
        <div class="menu">
            <a class="item" href="descargas/?archivo=construccion_aulas">Construccion de Aulas</a>
            <a class="item" href="descargas/?archivo=construccion_sanitario">Construccion de Sanitarios</a>
            <a class="item" href="descargas/?archivo=reparacion_aulas">Reparacion de Aulas</a>
            <a class="item" href="descargas/?archivo=reparacion_sanitario">Reparacion de Sanitarios</a>
        </div>
    </div>    

    <a class="blue item" onclick="javascript:introJs().start()">
       <i class="help icon"></i>
    </a>


    <script type="text/javascript">
        $('.dropdown')
            .dropdown({
                transition : 'drop'
            });
    </script>
    
   <!-- <div class="right menu">
        <div class=" item">
            <div class="ui icon input search">
                <input class="prompt" type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <div class="results">
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.search')
            .search({
                apiSettings: {
                    url: 'establecimiento/?q={query}'
                }
            })
        ;
    </script> -->
</div>
