<div class="ui grid stackable">

<div class="four wide column segment">


    <div class="ui fluid form segment">
        <h2 class="dividing header">Filtros</h2>

        <div class="one field">
            <div class="field small">
                <label>Año</label>
                <select class="ui dropdown">
                    <option value="">Año</option>
                    <option value="1">2012</option>
                    <option value="0">2013</option>
                    <option value="2">2014</option>
                    <option value="3">2015</option>

                </select>
            </div>

            <div class="ui right labeled left icon input">
                <i class="tags icon"></i>
                <input type="text" placeholder="escribe el departamento">

                <div class="ui tag label">
                    Departamento
                </div>
            </div>
            <div class="ui right labeled left icon input">
                <i class="tags icon"></i>
                <input type="text" placeholder="escribe la ciudad">

                <div class="ui tag label">
                    Ciudad
                </div>
            </div>
            <div class="ui right labeled left icon input">
                <i class="tags icon"></i>
                <input type="text" placeholder="escribe el barrio/localidad">

                <div class="ui tag label">
                    Barrio
                </div>
            </div>

            <div class="ui segment blue labels">
                <a class="ui label">
                    CENTRAL <i class="icon close"></i>
                </a>

                <div class="ui segment red labels">
                    <a class="ui label">
                        Capiata <i class="icon close"></i>
                    </a>
                    <a class="ui label">
                        San Lorenzo <i class="icon close"></i>
                    </a>

                    <div class="ui segment green labels">
                        <a class="ui label green">
                            Sajonia <i class="icon close"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>


        <div class="item ">
            <h4>Tipo de Prioridad</h4>

            <div class="ui grid">
                <div class="inline field">
                    <div class="ui checkbox ">
                        <input type="checkbox" name="fun">
                        <label>Sanitarios</label>
                    </div>
                    <div class="ui checkbox ">
                        <input type="checkbox" name="fun">
                        <label>Aulas</label>
                    </div>
                </div>
                <div class="two column ">
                    <div class="ui checkbox ">
                        <input type="checkbox" name="fun">
                        <label>Mobiliario</label>
                    </div>
                    <div class="ui checkbox ">
                        <input type="checkbox" name="fun">
                        <label>Otros Espacios</label>
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <h4>Datos</h4>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>Adjudicados</label>
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>Informe Conraloria</label>
                    </div>
                </div>

            </div>
            <div class="ui grid">

                <div class="grouped fields">

                    <h4 class="dividing header"> Estado de las Obras</h4>

                    <div class="field">
                        <div class="ui radio checkbox checked">
                            <input type="radio" name="fruit" checked="">
                            <label>En Construccion</label>
                        </div>
                    </div>
                     <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Todas</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Obra Detenida</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Obra Culminada</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>En Licitacion</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>
<div class="twelve wide column">

    <h1> Resumen de Fonacide</h1>

    <div class="ui  segment">
          <p> En el año <a class="ui green label">2013</a> </p>

        <p>en el departamento <a class="ui blue label">CENTRAL</a>, distrito/s de <a class="ui orange label">San Lorenzo</a><a class="ui orange label">Capiata</a></p>

        <p>Hubo <a class="ui red label">25.147</a> instituciones elegibles por FONACIDE</p>

        <p>Un total de <a class="ui teal label">102.582</a> instituciones elegibles de todo el país</p>

    </div>





    <div class="ui two cards">
        <div class="card">
            <div class="content">
                <div class="header">Aulas</div>

            </div>
            <div class="extra content">
                    <span class="left floated like">
                     Construccion
                    </span>
                    <span class="right floated star">
                      250
                    </span>
            </div>
            <div class="extra content">
                    <span class="left floated like">
                     Reparacion
                    </span>
                    <span class="right floated star">
                      250
                    </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Sanitarios</div>
                <div class="description">

                </div>
            </div>
            <div class="extra content">
                    <span class="left floated like">
                     Construccion
                    </span>
                    <span class="right floated star">
                      250
                    </span>
            </div>
            <div class="extra content">
                    <span class="left floated like">
                     Reparacion
                    </span>
                    <span class="right floated star">
                      250
                    </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Otros Espacios</div>
                <div class="description">

                </div>
            </div>
            <div class="extra content">
                    <span class="left floated like">
                     Construccion
                    </span>
                    <span class="right floated star">
                      250
                    </span>
            </div>
            <div class="extra content">
                    <span class="left floated like">
                     Reparacion
                    </span>
                    <span class="right floated star">
                      250
                    </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Mobiliarios</div>
                <div class="description">

                </div>
            </div>
            <div class="extra content">
                    <span class="left floated like">
                      Cantidad
                    </span>
                    <span class="right floated star">
                     30
                    </span>
            </div>
        </div>
    </div>

    <h3>Monto Adjudicado TOTAL: 250.000.000 Gs</h3>

    <h3>Estado de las obras</h3>
    <a class="ui black label">25</a> En construccion
    <a class="ui yellow label">30</a> Obra Detenida
    <a class="ui green label">10</a> Obras Concluidas

</div>


</div>

<script>


    $(document).ready(function () {
        $('.dropdown').dropdown();
    });

    $('.ui.checkbox')
            .checkbox()
    ;

    $('.ui.radio.checkbox')
            .checkbox()
    ;
</script>