<div class="ui fluid category search" style="font-size:14px">
    <div class="ui icon fluid input">
        <input class="prompt" type="text" placeholder="Buscar Instituciones...">
        <i class="search icon"></i>
    </div>
    <div class="results ui styled accordion"></div>
</div>

<script>
    console.log("Ejecutado");
    var message = function(message, type) {
                        console.log(message);
                        var
                                html = ''
                                ;
                        if (message !== undefined && type !== undefined) {
                            html += ''
                            + '<div class="message ' + type + '">'
                            ;
                            // message type
                            if (type == 'empty') {
                                html += ''
                                + '<div class="header">No Results</div class="header">'
                                + '<div class="description">' + message + '</div class="description">'
                                ;
                            }
                            else {
                                html += ' <div class="description">' + message + '</div>';
                            }
                            html += '</div>';
                        }
                        return html;
                    };
    $('.ui.category.search')
            .search({
                apiSettings: {
                    url: 'establecimiento/?q={query}',
                },
                minCharacters: 4,
                maxResults: 5,
                cache: true,
                templates: {
                    message: message,
                    standard: function (response) {
                        var query = response.results.query.toUpperCase();
                        var total_resultdos = 0;
                        var query_replace = '<span class="highlight">'+query+'</span>';
                        var html = '',
                                escape = $.fn.search.settings.templates.escape
                                ;
                        if (response.results !== undefined) {
                            // each category
                            $.each(response.results, function (index, category) {

                                if (category.results !== undefined && category.results.length > 0) {
                                    var resultNumber = category.results.length;
                                    total_resultdos += resultNumber;
                                    if(category.results.length >= 10){
                                        resultNumber = '+' + category.results.length;
                                    }
                                    html += ''
                                    + '<div class="title"><i class="dropdown icon"></i><b>' + category.name + '  ('+resultNumber+' resultados)</b></div>'
                                    + '<div class="content">'
                                    + '<div class="ui divided list secondary vertical fluid menu">'
                                    ;
                                    // each item inside category
                                    $.each(category.results, function (index, result) {
                                        html += '<a class="item" data-id="'+result.codigo_establecimiento+'">';
                                        if (result.url) {
                                            html += '<a href="' + result.url + '"></a>';
                                        }
                                        html += '<div class="content">';

                                        if (result.title !== undefined) {
                                            result.title = escape(result.title);
                                            html += '<div class="header">' + result.title.replace(/&quot;/g,'').replace(query, '<span class="highlight">'+query+'</span>') + '</div>';
                                        }
                                        if (result.description !== undefined) {
                                            html += '<div class="description">' + result.description.replace(query, '<span class="highlight">'+query+'</span>') + '</div>';
                                        }
                                        html += ''
                                        + '</div>'
                                        + '</a>'
                                        ;
                                    });
                                    html += ''
                                    + '</div>'
                                    + '</div>'
                                    + '<script>'
                                    + "$('.ui.category.search .results').accordion('refresh')" + "<\/script>"
                                    ;
                                }
                            });
                            if(total_resultdos === 0)
                                return message("Su busqueda no produjo resultados.", 'empty result');
                            response.action = {
                                url: '',
                                text: 'Mostrar los '+total_resultdos+' resultados'
                            };
                            if (response.action) {
                                html += ''
                                + '<a href="' + response.action.url + '" class="action">'
                                + response.action.text
                                + '</a>';
                            }
                            return html;
                        }
                        return false;
                    }
                }
            })
    ;

</script>