<div class="ui fluid category search" style="font-size:14px">
    <div class="ui labeled fluid">


          <div class="ui icon input fluid">
            <div class="ui dropdown teal label">
                <div class="text">Buscar</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Todos</div>
                  <div class="item">Id institución</div>
                  <div class="item">Id establecimiento</div>
                  <div class="item">Nombre Institucion</div>
                </div>
              </div>
      <input class="prompt" type="text" placeholder="Buscar Instituciones">
      <i class="search icon"></i>
    </div>


</div>
    <div class="results ui styled accordion"></div>
</div>

<script>
    $('body').keyup(function(event){
      //ESC
      if(event.keyCode == 27){
        $('.results').removeClass('visible');
        $('.results').addClass('hidden');
      }
    });
    var message = function(message, type) {
                        var
                                html = ''
                                ;
                        if (message !== undefined && type !== undefined) {
                            html += ''
                            + '<div class="message ' + type + '">'
                            ;
                            // message type
                            if (type == 'empty') {
                                html += ''
                                + '<div class="header">No Results</div class="header">'
                                + '<div class="description">' + message + '</div class="description">'
                                ;
                            }
                            else {
                                html += ' <div class="description">' + message + '</div>';
                            }
                            html += '</div>';
                        }
                        return html;
                    };
    $('.ui.category.search')
            .search({
                apiSettings: {
                    url: 'institucion/?q={query}&cantidad=5'
                },
                minCharacters: 4,
                cache: true,
                templates: {
                    message: message,
                    standard: function (response) {
                        var query = response.query.toUpperCase();
                        var total_resultdos = 0;
                        var query_replace = '<span class="highlight">'+query+'</span>';
                        var html = '',
                                escape = $.fn.search.settings.templates.escape
                                ;
                        var open = true;
                        if (response.results !== undefined) {
                            // each category
                            $.each(response.results, function (index, category) {
                                if (category.results !== undefined && category.results.length > 0) {
                                    var resultNumber = category.results.length;
                                    total_resultdos += resultNumber;
                                    if(category.results.length >= 5){
                                        resultNumber = '+' + category.results.length;
                                    }
                                    html += ''
                                    + '<div class="title"><i class="dropdown icon"></i><b>' + category.name + '  ('+resultNumber+' resultados)</b></div>'
                                    + '<div class="content'+(open?' active':'')+'">'
                                    + '<div class="ui divided list secondary vertical fluid menu">'
                                    ;
                                    open = false;
                                    // each item inside category
                                    $.each(category.results, function (index, result) {
                                        html += '<a class="item"  href="' + response.base_url + 'map?establecimiento=' + result.codigo_establecimiento + '&institucion=' + result.codigo_institucion + '">';

                                        html += '<div class="content">';

                                        if (result.nombre_institucion !== undefined) {
                                            result.nombre_institucion = escape(result.nombre_institucion);
                                            html += '<div class="header"><div class="ui horizontal label" title="Codigo de Institucion">' + result.codigo_institucion + '</div>' + result.nombre_institucion.replace(/&quot;/g,'').replace(query, '<span class="highlight">'+query+'</span>') + '</div>';
                                        }
                                        if (result.direccion !== undefined) {
                                            html += '<div class="description">' + result.direccion.replace(query, '<span class="highlight">'+query+'</span>') + '</div>';
                                        }
                                        if (result.nombre_distrito !== undefined) {
                                            html += '<div class="ui teal horizontal label" title="Distrito">' + result.nombre_distrito.replace(query, '<span class="highlight blue">'+query+'</span>') + '</div>';
                                        }
                                        if (result.nombre_barrio_localidad !== undefined) {
                                            html += '<div class="ui green horizontal label" title="Barrio/Localidad">' + result.nombre_barrio_localidad.replace(query, '<span class="highlight blue">'+query+'</span>') + '</div>';
                                        }
                                        html += ''
                                        + '</div>'
                                        + '</a>'
                                        ;
                                    });
                                    html += ''
                                    + '</div>'
                                    + '</div>'
                                    + '<script>'
                                    + "$('.ui.category.search .results').accordion('refresh')" + "<\/script>"
                                    ;
                                }
                            });
                            if(total_resultdos === 0)
                                return message("Su busqueda no produjo resultados.", 'empty result');
                            response.action = {
                                url: 'results/?q='+query,
                                text: 'Mostrar todos los resultados'
                            };
                            if (response.action) {
                                html += ''
                                + '<a href="' + response.action.url + '" class="action">'
                                + response.action.text
                                + '</a>';
                            }
                            return html;
                        }
                        return false;
                    }
                }
            })
            .keypress(function(event){
              if (event.which == 13) {
                window.location.href = 'results/?q='+$(this).find('input').val();
              }
            })
    ;



    $('.dropdown')
  .dropdown({
    // you can use any ui transition
    transition: 'drop',

    action: function(value, text) {
      // custom action

       $(".prompt").attr("placeholder", 'Buscar por ' + text  );
    }

  })
;


</script>
