<div id="visualizaciones" class="">
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/bootstrap.min.css" />
	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
	<ul class="nav nav-tabs">
  		<li class="active" ><a href="#visualizacion1" data-toggle="tab">Beneficiados Construcci&oacute;n</a></li>
  		<li ><a  href="#visualizacion2" data-toggle="tab">Beneficiados Reparaci&oacute;n</a></li>
  		<li ><a  href="#visualizacion3" data-toggle="tab">Construcci&oacute;n Sanitarios</a></li>
  		<li ><a  href="#visualizacion4" data-toggle="tab">Reparaci&oacute;n Sanitarios</a></li>
  		<li ><a  href="#visualizacion5" data-toggle="tab">Abastecimiento de Agua</a></li>
  		<li ><a  href="#visualizacion6" data-toggle="tab">Espacios Solicitados</a></li>
	</ul>
	<!--
	<div class="tab-content">
		<div class="tab-pane fade in active" id="visualizacion1">
			<script id="infogram_0_numero-de-beneficiados" src="//e.infogr.am/js/embed.js" type="text/javascript">
			</script>
		</div>	
		<div  class="tab-pane fade" id="visualizacion2">
			<script id="infogram_0_reparacionadecuacion-de-espacios" src="https://e.infogr.am/js/embed.js?oTH" type="text/javascript"> </script>
			<div style="width:100%;border-top:1px solid #acacac;padding-top:3px;font-family:Arial;font-size:10px;text-align:center;"> <a target="_blank" href="https://infogr.am/reparacionadecuacion-de-espacios" style="color:#acacac;text-decoration:none;">Cantidad de Beneficiados por reparación/adecuación de espacios</a> | <a style="color:#acacac;text-decoration:none;" href="https://infogr.am" target="_blank">Create infographics</a></div>	
		</div>
		<div class="tab-pane fade" id="visualizacion3">
		    <script id="infogram_0_construccion-de-sanitarios" src="https://e.infogr.am/js/embed.js?FnR" type="text/javascript"></script><div style="width:100%;border-top:1px solid #acacac;padding-top:3px;font-family:Arial;font-size:10px;text-align:center;"><a target="_blank" href="https://infogr.am/construccion-de-sanitarios" style="color:#acacac;text-decoration:none;">Construcción de Sanitarios</a> | <a style="color:#acacac;text-decoration:none;" href="https://infogr.am" target="_blank">Create infographics</a></div>
		</div>
		<div class="tab-pane fade" id="visualizacion4">
			<script id="infogram_0_reparacion-de-sanitarios" src="https://e.infogr.am/js/embed.js?Wli" type="text/javascript"></script><div style="width:100%;border-top:1px solid #acacac;padding-top:3px;font-family:Arial;font-size:10px;text-align:center;"><a target="_blank" href="https://infogr.am/reparacion-de-sanitarios" style="color:#acacac;text-decoration:none;">Reparación de Sanitarios</a> | <a style="color:#acacac;text-decoration:none;" href="https://infogr.am" target="_blank">Create infographics</a></div>
    	</div>
		<div class="tab-pane fade" id="visualizacion5">
			<script id="infogram_0_abastecimiento-de-agua" src="https://e.infogr.am/js/embed.js?WIE" type="text/javascript"></script><div style="width:100%;border-top:1px solid #acacac;padding-top:3px;font-family:Arial;font-size:10px;text-align:center;"><a target="_blank" href="https://infogr.am/abastecimiento-de-agua" style="color:#acacac;text-decoration:none;">Tipo de Abastecimiento de Agua</a> | <a style="color:#acacac;text-decoration:none;" href="https://infogr.am" target="_blank">Create infographics</a></div>
    	</div>
		<div class="tab-pane fade" id="visualizacion6">
			<script id="infogram_0_espacios-a-construir" src="https://e.infogr.am/js/embed.js?lWw" type="text/javascript"></script><div style="width:100%;border-top:1px solid #acacac;padding-top:3px;font-family:Arial;font-size:10px;text-align:center;"><a target="_blank" href="https://infogr.am/espacios-a-construir" style="color:#acacac;text-decoration:none;">Espacios solicitados</a> | <a style="color:#acacac;text-decoration:none;" href="https://infogr.am" target="_blank">Create infographics</a></div>
		</div>
	</div> -->
</div>
