{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            body {
                                padding-bottom: 20px;
            }

            div.col-md-6.boton a {
background: #ddd;
padding: 20px 52px;
margin: 10px 0px;
min-height: 78px;
display: block;
}
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
       

        <script src="/static/js/dncp/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
       

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>DNCP y FONACIDE</h1>
        <p>A través de la DNCP pasan todas las contrataciones públicas de Paraguay, incluidas las planificadas y financiadas con recursos del Fondo Nacional de Inversión Pública y Desarrollo. En esta infografía podrás responder algunas de las preguntas más comunes en torno a las contrataciones referentes a FONACIDE.
Cabe destacar que los datos visualizados en esta infografía incluyen no solamente lo relacionado con el MEC y con la educación.
Para ver los datos simplemente haz click en la pregunta:</p>
        
      </div>
    </div>

    <div class="container">

        <div class="row">


              <div class="col-md-6 boton"> <a href="">Cuáles son las Municipalidades con mayor cantidad de llamados</a></div>
        <div class="col-md-6 boton"><a href="">Cuáles son las Municipalidades con mayor montos adjudicados</a></div>
        <div class="col-md-6 boton"><a href="">Cuales son los tipos de llamados de Fonacide agrupados por Municipalidades, Gobernaciones y otros</a></div>
        <div class="col-md-6 boton"><a href="">Cuales son los tipos de llamados de Fonacide agrupados por Municipalidades, Gobernaciones y otros </a></div> 




        </div>

       
      <!-- Example row of columns -->
     <section>  <div id="main1" style="height:400px"></div></section>
      <section>  <div id="main2" style="height:400px"></div></section>
       <section>  <div id="main3" style="height:400px"></div></section>
        <section>  <div id="main4" style="height:400px"></div></section>
         <section>  <div id="main5" style="height:400px"></div></section>

      <footer>
        <p>&copy; Company 2015</p>
      </footer>
    </div> <!-- /container -->    
      
        <script src="{% static '}js/dncp/vendor/jquery-1.11.2.min.js' %"></script>
        <script src="{% static '}js/dncp/vendor/bootstrap.min.js' %"></script>
       
        <script src="{% static '}js/dncp/plugins.js' %"></script>
        <script src="{% static '}js/dncp/main.js' %"></script>
        <script src="{% static 'js/echarts.js' %}"></script>       
        <script src="{% static 'js/dncp/chart1.js' %}"></script>
        <script src="{% static 'js/dncp/chart2.js' %}"></script>
        <script src="{% static 'js/dncp/chart3.js' %}"></script>
        <script src="{% static 'js/dncp/chart4.js' %}"></script>
        <script src="{% static 'js/dncp/chart5.js' %}"></script>
       
      
    </body>
</html>
